﻿@model List<PreventiveAssetManagement.dataRepo.WorkFlow>
@{
    ViewBag.Title = "Index";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">WorkFlow</li>
    <!-- Breadcrumb Menu-->
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <strong>Work Flow List</strong>
                        <small>active</small>
                        
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="card"  style="width:100%">
                                    <div class="card-body">
                                        <div class="col col-sm-5">
                                            <label class="control-label">Work Order ID : @item.WorkFlowWorkOrderID</label>
                                        </div>
                                        <div class="col col-sm-7">
                                            @if (item.WorkFlowWorkOrderID.Contains("HIRAC"))
                                            {
                                                <a href="@Url.Action(MVC.WorkFlow.WorkFlowRiskDetail(item.WorkFlowID.ToString(),item.WorkFlowWorkOrderID))" class="btn btn-sm btn-success">Detail</a>
                                            }
                                            else
                                            {
                                                <a href="@Url.Action(MVC.WorkFlow.WorkFlowDetail(item.WorkFlowID.ToString(),item.WorkFlowWorkOrderID))" class="btn btn-sm btn-success">Detail</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
