﻿@model PreventiveAssetManagement.dataRepo.RiskVisit
@{
    ViewBag.Title = "Work Flow Risk Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> depts = new List<string>();
    List<string> picVis = new List<string>();
    if (Model.Inspector != null)
    {
        string[] picdepts = Model.Inspector.Split(',');
        depts = picdepts.ToList();
    }
    if (Model.PICDept != null)
    {
        string[] picvis = Model.PICDept.Split(',');
        picVis = picvis.ToList();
    }
    var WORData = (PreventiveAssetManagement.dataRepo.WorkOrderManual)ViewBag.WOR;
    var checklist = (List<PreventiveAssetManagement.dataRepo.RiskVisitChecklist>)ViewBag.checklist;
}
<script src="~/Assets/js/jquery-1.8.2/jquery-1.8.2.min.js"></script>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Risk Visit</strong>
                        <small>Form</small>

                    </div>
                    <div class="card-body">

                        @using (Html.BeginForm(MVC.WorkFlow.ApproveOrRejectWorkFlow(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "FormLocation", @style = "width:100%" }))
                        {
                            @Html.Hidden("workflowid", Model.VisitID)
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-md-3 control-label">
                                        <label for="name">Risk Visit ID</label>
                                    </div>
                                    <div class="col-md-7">
                                        @if (Model.VisitID != null)
                                        {
                                            @Html.HiddenFor(x => x.VisitID)
                                            <label class="control-label">@Model.VisitID </label>
                                        }
                                        else
                                        {

                                            <label class="control-label">[Generated by System]</label>
                                        }
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 control-label">
                                        <label for="name">Work Order ID</label>
                                    </div>
                                    <div class="col-md-7">
                                        @Html.HiddenFor(x => x.WorkOrderID, Model.WorkOrderID)
                                        <label class="control-label">@Model.WorkOrderID</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 control-label">
                                        <label for="name">Visit Date</label>
                                    </div>
                                    <div class="col-md-7">
                                        @if (Model.VisitDate != null)
                                        {
                                            @Html.TextBox("VisitDate", Model.VisitDate.GetValueOrDefault().ToString("yyyy-MM-dd"), new { @class = "form-control", required = "required", type = "date", @disabled = "disabled" })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(x => x.VisitDate, new { @class = "form-control", required = "required", type = "date" })
                                        }
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 control-label">
                                        <label for="name">Visit Time</label>
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.VisitTimeFrom, new { @class = "form-control timepicker", required = "required", @disabled = "disabled" })
                                    </div>
                                    <div class="col-md-1">
                                        <label>To</label>
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.VisitTimeTo, new { @class = "form-control timepicker", required = "required", @disabled = "disabled" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 control-label">
                                        <label for="name">Location</label>
                                    </div>
                                    <div class="col-md-7">
                                        <label class="control-label">@WORData.MasterAssetCategory.MasterLocation.LocationArea</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 control-label">
                                        <label for="name">Departement</label>
                                    </div>
                                    <div class="col-md-7">

                                        <label class="control-label">@WORData.MasterAssetCategory.Departement</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 control-label">
                                        <label for="name">Item Group</label>
                                    </div>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(x => x.GroupItem, (List<SelectListItem>)ViewBag.itemgroup, "--select one--", new { @class = "form-control required", required = "", @disabled = "disabled" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 control-label">
                                        <label for="name">Checklist</label>
                                    </div>
                                    <div class="col-md-7">
                                        <select name="ChecklistHeader" id="ChecklistHeader" class="form-control" disabled="disabled">
                                            @if (Model.ChecklistHeader != null)
                                            {
                                                <option value="@Model.ChecklistHeader">@Model.ChecklistHeader1.Description</option>
                                            }
                                            else
                                            {
                                                <option>--Select One--</option>
                                            }

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <table class="table table-striped" name="">
                                        <thead>
                                            <tr>
                                                <td>Area Pemeriksaan</td>
                                                <td>Kategori</td>
                                                <td>Dokumentasi</td>
                                                <td>Keterangan</td>
                                                <td>Deadline</td>
                                            </tr>
                                        </thead>
                                        <tbody id="container">
                                            @foreach (var item in checklist)
                                            {
                                                <tr>
                                                    <td><label class="control-label">@item.Condition</label></td>
                                                    <td>
                                                        <select name="kategori" class="form-control" disabled="disabled">
                                                            @if (item.Category == "berat")
                                                            {
                                                                <option value="berat" selected>Berat</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="berat">Berat</option>
                                                            }
                                                            @if (item.Category == "sedang")
                                                            {
                                                                <option value="sedang" selected>Sedang</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="sedang">Sedang</option>
                                                            }
                                                            @if (item.Category == "ringan")
                                                            {
                                                                <option value="ringan" selected>Ringan</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="ringan">Ringan</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        @if (!string.IsNullOrEmpty(item.Documentation))
                                                        {
                                                            <a href="#" src="@item.Documentation"></a>
                                                        }
                                                        else
                                                        {
                                                            <input type='file' name='dokumentasi' class='doc'><input type='hidden' name='isupload'>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (!string.IsNullOrEmpty(item.Remark))
                                                        {
                                                            <textarea rows='4' name='Keterangan' class='form-control' disabled="disabled">@item.Remark</textarea>
                                                        }
                                                        else
                                                        {
                                                            <textarea rows='4' name='Keterangan' class='form-control'></textarea>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.Deadline != null)
                                                        {
                                                            <input type='date' class='form-control' name='deadline' value="@item.Deadline.GetValueOrDefault().ToString("yyyy-MM-dd")" disabled="disabled">
                                                        }
                                                        else
                                                        {
                                                            <input type='date' class='form-control' name='deadline'>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                @if (depts.Count > 0)
                                {
                                    foreach (var item in depts)
                                    {
                                        var last = depts.Last();
                                        if (item == last)
                                        {
                                            <div class="form-group row">
                                                <div class="col-md-3 control-label">
                                                    <label for="name">Departement</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <select name="inspectors" class="form-control">
                                                       <option value="@item">@item</option>
                                                    </select>
                                                    @*@Html.DropDownListFor(x => x.Inspector, (List<SelectListItem>)ViewBag.dpt, "--select one--", new { @class = "form-control required", required = "" })*@
                                                    @*@Html.DropDownList("Inspectors", (List<SelectListItem>)ViewBag.dpt, "--select one--", new { @class = "form-control required", required = "" })*@
                                                    @*@Html.TextBoxFor(x => x.Inspector, new { @class = "form-control", required = "required" })*@
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group row">
                                                <div class="col-md-3 control-label">
                                                    <label for="name">Departement</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <select name="inspectors" class="form-control">
                                                        <option value="@item">@item</option>
                                                    </select>
                                                    @*@Html.DropDownListFor(x => x.Inspector, (List<SelectListItem>)ViewBag.dpt, "--select one--", new { @class = "form-control required", required = "" })*@
                                                    @*@Html.DropDownList("Inspectors", (List<SelectListItem>)ViewBag.dpt, "--select one--", new { @class = "form-control required", required = "" })*@
                                                    @*@Html.TextBoxFor(x => x.Inspector, new { @class = "form-control", required = "required" })*@
                                                </div>

                                            </div>
                                        }
                                    }

                                }
                                else
                                {
                                    <div class="form-group row">
                                        <div class="col-md-3 control-label">
                                            <label for="name">Departement</label>
                                        </div>
                                        <div class="col-md-7">

                                            @*@Html.DropDownListFor(x => x.Inspector, (List<SelectListItem>)ViewBag.dpt, "--select one--", new { @class = "form-control required", required = "" })*@
                                            @Html.DropDownList("Inspectors", (List<SelectListItem>)ViewBag.dpt, "--select one--", new { @class = "form-control required", required = "" })
                                            @*@Html.TextBoxFor(x => x.Inspector, new { @class = "form-control", required = "required" })*@
                                        </div>

                                    </div>
                                }

                                @*<div class="col-md-3 control-label">
                                        <label for="name">PIC Visit</label>
                                    </div>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(x => x.PICVisit, new { @class = "form-control", required = "required", @disabled = "disabled" })
                                    </div>*@
                                @if (picVis.Count > 0)
                                {
                                    foreach (var item in picVis)
                                    {
                                        var last = picVis.Last();
                                        if (item == last)
                                        {
                                            <div class="form-group row cloned">
                                                <div class="col-md-3 control-label">
                                                    <label for="name">PIC Visit</label>
                                                </div>
                                                <div class="col-md-7">
                                                    @*@Html.TextBoxFor(x => x.PICVisit, new { @class = "form-control", required = "required" })*@
                                                    <input type="text" name="PICvis" class="form-control" value="@item" required />
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group row cloned">
                                                <div class="col-md-3 control-label">
                                                    <label for="name">PIC Visit</label>
                                                </div>
                                                <div class="col-md-7">
                                                    @*@Html.TextBoxFor(x => x.PICVisit, new { @class = "form-control", required = "required" })*@
                                                    <input type="text" name="PICvis" class="form-control" value="@item" required />
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                                else
                                {
                                    <div class="form-group row cloned">
                                        <div class="col-md-3 control-label">
                                            <label for="name">PIC Visit</label>
                                        </div>
                                        <div class="col-md-7">
                                            @*@Html.TextBoxFor(x => x.PICVisit, new { @class = "form-control", required = "required" })*@
                                            <input type="text" name="PICvis" class="form-control" required />
                                        </div>
                                    </div>
                                }

                                <div class="form-group row">
                                    <div class="col-md-3 control-label">
                                        <label for="name">Remark</label>
                                    </div>
                                    <div class="col-md-7">
                                        @Html.TextAreaFor(x => x.Remark, new { @class = "form-control", @disabled = "disabled" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Remark</label>
                                    <div class="col-md-9">
                                        @*<a href="@Url.Action(MVC.WorkFlow.ApproveOrRejectWorkFlow(workflowid,"approve",Model.WorkOderManualID))" class="btn btn-sm btn-success">Approve</a>
                                            <a href="@Url.Action(MVC.WorkFlow.ApproveOrRejectWorkFlow(workflowid,"reject",Model.WorkOderManualID))" class="btn btn-sm btn-danger">Reject</a>*@
                                        @Html.TextArea("remark", new { @class = "form-control required", placeholder = "Remark", required = "" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        @*<a href="@Url.Action(MVC.WorkFlow.ApproveOrRejectWorkFlow(workflowid,"approve",Model.WorkOderManualID))" class="btn btn-sm btn-success">Approve</a>
                                            <a href="@Url.Action(MVC.WorkFlow.ApproveOrRejectWorkFlow(workflowid,"reject",Model.WorkOderManualID))" class="btn btn-sm btn-danger">Reject</a>*@
                                        <button type="submit" class="btn btn-sm btn-danger" name="command" onclick="return confirm('Are you sure?')" value="reject">Reject</button>
                                        <button type="submit" class="btn btn-sm btn-success" name="command" onclick="return confirm('Are you sure?')" value="approve">Approve</button>
                                        <a href="@Url.Action(MVC.InstruksiKerja.Index())"> <button type="button" class="btn btn-sm btn-danger">Close</button> </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

