﻿@model  PreventiveAssetManagement.dataRepo.MasterLocation
@{
    ViewBag.Title = "AddEditLocation";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="#">Admin</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
    <!-- Breadcrumb Menu-->
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Master Location</strong>
                        <small>Form</small>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            @using (Html.BeginForm(MVC.Location.AddEditLocation(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "FormLocation" }))
                            {
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Location Code</label>
                                        </div>
                                        <div class="col-md-7">
                                            @if (!string.IsNullOrEmpty(Model.LocationCode))
                                            {
                                                <label class="control-label">@Model.LocationCode</label>
                                                @Html.HiddenFor(x => x.LocationCode)
                                            }
                                            else
                                            {
                                                <label class="control-label">Generated By System</label>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Building Code</label>
                                        </div>
                                        <div class="col-md-7">
                                            @if (Model.Subportofolio != null)
                                            {
                                                <label class="control-label">@Model.Subportofolio</label>
                                                @Html.HiddenFor(x => x.Subportofolio)
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(x => x.Subportofolio, new { @class = "form-control", placeholder = "Building Code", required = "" })
                                            }
                                            
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Floor</label>
                                        </div>
                                        <div class="col-md-7">
                                            @if (Model.Floor != null)
                                            {
                                                <label class="control-label">@Model.Floor</label>
                                                @Html.HiddenFor(x => x.Floor)
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(x => x.Floor, new { @class = "form-control required", placeholder = "Floor", required = "" })
                                            }
                                            
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Location Area</label>
                                        </div>
                                        <div class="col-md-7">
                                            @if (Model.LocationArea != null)
                                            {
                                                <label class="control-label">@Model.LocationArea</label>
                                                @Html.HiddenFor(x => x.LocationArea)
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(x => x.LocationArea, new { @class = "form-control required", placeholder = "Location Area", required = "" })
                                            }
                                            
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Description</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(x => x.Description, new { @class = "form-control required", placeholder = "Description" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Active</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(x => x.IsActive, (List<SelectListItem>)ViewBag.activestate, "--select one--", new { @class = "form-control required", required = "" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-9">
                                            <button type="submit" class="btn btn-sm btn-success" onclick="return confirm('Are you sure?')">Save</button>
                                            <a href="@Url.Action(MVC.Location.Index())"> <button type="button" class="btn btn-sm btn-danger">Close</button> </a>
                                        </div>
                                    </div>
                                    @Html.HiddenFor(x => x.LocationCode)
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
