﻿
@{
    ViewBag.Title = "Index";
}
<!-- Breadcrumb -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="#">Admin</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group">
            <a class="btn" href="#"><i class="icon-speech"></i>Dashboard</a>
            <a class="btn" href="#"><i class="icon-graph"></i>Master Location</a>
        </div>
    </li>
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-10">
                <div class="card">
                    <div class="card-header">
                        <strong>Search Location</strong>
                        <small>Form</small>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <form action="" method="post" class="form-horizontal" style="width:100%">
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Building Code</label>
                                        </div>
                                        <div class="col-md-7">
                                            @if (Session["searchSpc"] != null)
                                            {
                                                <input type="text" class="form-control" value="@Session["searchSpc"].ToString()" id="spc" placeholder="Enter your code">
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control" id="spc" placeholder="Enter your code">
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Floor</label>
                                        </div>
                                        <div class="col-md-7">
                                            @if (Session["searchFlr"] != null)
                                            {
                                                <input type="text" class="form-control" value="@Session["searchFlr"].ToString()" id="flr" placeholder="Enter your floor">
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control" id="flr" placeholder="Enter your floor">
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <button type="button" id="datatable-location-search" class="btn btn-sm btn-primary">Search</button>
                                        <a href="@Url.Action(MVC.Location.AddEditLocation())" class="btn btn-sm btn-success">Add</a>
                                    </div>
                                </div>
                            </form>
                            <div class="table-responsive">
                                <table id="data-table-location" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Location Code</th>
                                            <th>Building Code</th>
                                            <th>Floor</th>
                                            <th>Location Area</th>
                                            <th>Description</th>
                                            <th>Status</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
