﻿@{

    ViewBag.Title = "Index";
    var depart = (List<SelectListItem>)ViewBag.dept;
}
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body" style="width:100%">
                        <div class="row">
                            <form class="form-horizontal">
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="UserId">Departement</label>
                                        </div>
                                        <div class="col-md-7">
                                            <select class="form-control" id="dpt">
                                                @foreach (var item in depart)
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="UserId">Work Order Date</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input id="datevaluefrom" type="text" class="form-control datepicker" placeholder="Work order date from" />
                                            <input id="datevaluefto" type="text" class="form-control datepicker" placeholder="Work order date to" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="UserId">Item Category</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input id="ItemDesc" type="text" class="form-control" placeholder="Item Category" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-7">
                                            <a href="#" id="RiskWorkOrderSearch" class="btn btn-success">Search</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="table-responsive">
                                <table id="data-table-Risk" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Work Order No</th>
                                            <th>Category</th>
                                            <th>Departement</th>
                                            <th>Work Order Date</th>
                                            <th>Location</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>
                            @*<div id='riskCalendar' style="width:100%"></div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
