﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var link = "http://piracksrv07/ReportServer/Pages/ReportViewer.aspx?%2fHirac%2fRiskVisitAssurance&rs:Command=Render";
}
<script src="~/Assets/js/jquery-1.8.2/jquery-1.8.2.min.js"></script>
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="#">Report</a></li>
    <li class="breadcrumb-item active">Asset Type Aging Report</li>
    <!-- Breadcrumb Menu-->
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-10">
                <div class="card">
                    <div class="card-header">
                        <strong>Asset Type Aging Report</strong>
                        <small>Form</small>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <form action="@Url.Action(MVC.Report.AssetTypeAgingReport())" method="post" class="form-horizontal" style="width:100%">
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-3 control-label">
                                            <label for="name">From</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="date" class="form-control" name="from" id="from" placeholder="From">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3 control-label">
                                            <label for="name">To</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="date" class="form-control" name="to" id="to" placeholder="From">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        @*<button type="submit" class="btn btn-sm btn-primary">Generate Report</button>*@
                                        <a href="@link" class="btn btn-primary btn-small" id="generate">Generate</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $("#generate").click(function (e) {
            e.preventDefault();
            var from = $("#from").val();
            var to = $("#to").val();
            var link = $(this).attr("href");
            link = link + "&TimeFrom=" + from + "&TimeTo=" + to;
            //window.location.replace(link);
            window.location.href = link;
        })
    })
</script>
