﻿@model PreventiveAssetManagement.dataRepo.IKCategory
@{
    ViewBag.Title = "IKCategoryAddEdit";
    string ikcode = (String)ViewBag.IKCode;
    var items = (List<PreventiveAssetManagement.dataRepo.IKItem>)ViewBag.items;
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="@Url.Action(MVC.InstruksiKerja.Index())">Instruksi Kerja</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action(MVC.InstruksiKerja.InstruksiKerjaCategoryList(ikcode))">Instruksi Kerja Category</a></li>
    <li class="breadcrumb-item active">Instruksi Kerja Add Edit</li>
    <!-- Breadcrumb Menu-->
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <strong>Instruksi Kerja</strong>
                        <small>Form</small>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            @using (Html.BeginForm(MVC.InstruksiKerja.IKCategoryAddEdit(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "formIKCat" }))
                            {
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">IK Category</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.Hidden("MasterIK", ikcode)
                                            @if (!String.IsNullOrEmpty(Model.IKCategory1))
                                            {
                                                @Html.Label("cateID", Model.IKCategory1, new { @class = "label-control required", placeholder = "Asset Category ID" })
                                                @Html.HiddenFor(x => x.IKCategory1)
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(x => x.IKCategory1, new { @class = "form-control required", placeholder = "IK Category", required = "" })
                                            }
                                            
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Status</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(x => x.IsActive, (List<SelectListItem>)ViewBag.Status, "--select one--", new { @class = "form-control required", required = "" })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label>
                                                <b>Item</b>
                                            </label>
                                        </div>
                                        <div class="col-md-7">
                                            <a href="#" id="addNewIKItem" class="btn btn-sm btn-success"><i class="icon-plus"></i></a>
                                        </div>
                                    </div>
                                    <div id="itemcontainer">
                                        @if (items.Count > 0)
                                        {
                                            foreach (var item in items)
                                            {
                                                <div class="form-group row">

                                                    <div class="col-md-5 control-label">
                                                        <label for="name">IK Item</label>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <input type="text" class="form-control" name="ikItem" placeholder="IK Item" value="@item.Item" required=""/>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <a href="#" class="btn btn-sm btn-danger deleterow"><i class="icon-minus"></i></a>
                                                    </div>

                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="form-group row">

                                                <div class="col-md-5 control-label">
                                                    <label for="name">IK Item</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <input type="text" class="form-control" name="ikItem" placeholder="IK Item" required="" />
                                                </div>
                                                <div class="col-md-2">
                                                    <a href="#" class="btn btn-sm btn-danger deleterow"><i class="icon-minus"></i></a>
                                                </div>

                                            </div>
                                        }
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-9">
                                            <button type="submit" class="btn btn-sm btn-success">Save</button>
                                            <a href="@Url.Action(MVC.InstruksiKerja.InstruksiKerjaCategoryList(ikcode))"> <button type="button" class="btn btn-sm btn-danger">Close</button> </a>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

