﻿
@{
    ViewBag.Title = "Index";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">Dashboard</li>
    <li class="breadcrumb-item active">Instruksi Kerja</li>
    <!-- Breadcrumb Menu-->
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong>IK List</strong>
                        <small>Form</small>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <form class="form-horizontal">
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="UserId">IK Code</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" id="ikcode" placeholder="Search by IK Code">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="UserName">IK Description</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" id="ikdescription" placeholder="Search by IK Description">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <button type="button" id="datatable-masterik-search" class="btn btn-sm btn-primary">Search</button>
                                        <a href="@Url.Action(MVC.InstruksiKerja.InstruksiKerjaAddEdit())" class="btn btn-sm btn-success">Add</a>
                                    </div>
                                </div>
                            </form>
                            <div class="table-responsive">
                                <table id="data-table-masterik" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Ik Code</th>
                                            <th>IK Description</th>
                                            <th>Status</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>