﻿@model PreventiveAssetManagement.dataRepo.MasterIK
@{
    ViewBag.Title = "InstruksiKerjaAddEdit";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="@Url.Action(MVC.InstruksiKerja.Index())">Instruksi Kerja</a></li>
    <li class="breadcrumb-item active">Instruksi Kerja Add Edit</li>
    <!-- Breadcrumb Menu-->
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <strong>Instruksi Kerja</strong>
                        <small>Form</small>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            @using (Html.BeginForm(MVC.InstruksiKerja.InstruksiKerjaAddEdit(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "formIK" }))
                            {
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">IK Code</label>
                                        </div>
                                        <div class="col-md-7">
                                            @if (!String.IsNullOrEmpty(Model.IKCode))
                                            {
                                                @Html.Label("ik",Model.IKCode, new { @class = "label-control required", placeholder = "Asset Category ID" })
                                                @Html.HiddenFor(x => x.IKCode);
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(x => x.IKCode, new { @class = "form-control required", placeholder = "IK Code", required = "" })
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">IK Description</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.TextAreaFor(x => x.IKDescription, new { @class = "form-control required", placeholder = "IK Description" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Departement</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(x => x.Departement, new { @class = "form-control required", placeholder = "Departement" ,required = ""})
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Status</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(x => x.IsActive, (List<SelectListItem>)ViewBag.Status, "--select one--", new { @class = "form-control required", required = "" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-5 control-label"></label>
                                        <div class="col-md-9">
                                            <button type="submit" class="btn btn-sm btn-success" onclick="return confirm('Are you sure?')">Save</button>
                                            <a href="@Url.Action(MVC.InstruksiKerja.Index())"> <button type="button" class="btn btn-sm btn-danger">Close</button> </a>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-md-12">
                                        <div class="form-group row">
                                            <div class="col-md-5 control-label">
                                                <label>
                                                    <b>Detail</b>
                                                </label>
                                            </div>
                                            <div class="col-md-7">
                                                <a href="#" id="addNewIKCat" class="btn btn-sm btn-success addNewIKCat"><i class="icon-plus"></i></a>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-5 control-label">
                                                <label for="name">IK Category</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" name="ikCategory" placeholder="IK Category" />
                                            </div>
                                        </div>
                                        <div class="col-md-12" id="ikItemContainer">
                                            <div class="form-group row">
                                                <div class="col-md-5 control-label">
                                                    <label>
                                                        <b>Item</b>
                                                    </label>
                                                </div>
                                                <div class="col-md-7">
                                                    <a href="#" id="addNewIKItem" class="btn btn-sm btn-success"><i class="icon-plus"></i></a>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-5 control-label">
                                                    <label for="name">IK Item</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control" name="ikCategory" placeholder="IK Item" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                                @*<div class="col-md-12" id="ikCategoryContainer">
                                    </div>*@


                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
