﻿@model List<PreventiveAssetManagement.dataRepo.IKCategory>
@{
    ViewBag.Title = "InstruksiKerjaCategoryList";
    string ikcode = (string)ViewBag.ikcode;
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="@Url.Action(MVC.InstruksiKerja.Index())">Instruksi Kerja</a></li>
    <li class="breadcrumb-item active">Instruksi Kerja Category</li>
    <!-- Breadcrumb Menu-->
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Instruksi Kerja Category List</strong>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <a href="@Url.Action(MVC.InstruksiKerja.IKCategoryAddEdit("",ikcode))" class="btn btn-sm btn-success">Add</a>
                                    </div>
                                </div>
                            </form>
                            <div class="table-responsive">
                                <table id="data-table-ikcategory" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Ik Category</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.IKCategory1</td>
                                                <td><a href="@Url.Action(MVC.InstruksiKerja.IKCategoryAddEdit(item.IKCategory1,ikcode))" class="btn btn-small btn-success"><i class="icon-pencil"></i></a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
