﻿@model PreventiveAssetManagement.dataRepo.MasterAssetCategory
@{
    ViewBag.Title = "AddEditAssetCategory";
    var listinterval = (List<PreventiveAssetManagement.dataRepo.MasterInterval>)ViewBag.listInterval;
    var interval = (List<PreventiveAssetManagement.dataRepo.Interval>)ViewBag.Interval;
    var ik = (List<SelectListItem>)ViewBag.IKSeleclist;
}
<style>
    .add-on .input-group-btn > .btn {
        border-left-width: 0;
        left: -2px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
    /* stop the glowing blue shadow */
    .add-on .form-control:focus {
        box-shadow: none;
        -webkit-box-shadow: none;
        border-color: #cccccc;
    }
</style>
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="@Url.Action(MVC.MasterAsset.Index())">Master Asset Category</a></li>
    <li class="breadcrumb-item active">Master Asset Category Add Edit</li>
    <!-- Breadcrumb Menu-->

</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Master Asset Category</strong>
                        <small>Form</small>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            @using (Html.BeginForm(MVC.MasterAsset.AddEditAssetCategory(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "FormAssetCat" }))
                            {
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Asset Category Code</label>
                                        </div>
                                        <div class="col-md-7">
                                            @if (Model.AssetCategoryID != null)
                                            {
                                                @Html.Label("ID", Model.AssetCategoryID, new { @class = "label-control required", placeholder = "Asset Category Code" })
                                                @Html.HiddenFor(x => x.AssetCategoryID)
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(x => x.AssetCategoryID, new { @class = "form-control required", placeholder = "Asset Category Code", required = "" })
                                            }
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Asset Group</label>
                                        </div>
                                        <div class="col-md-7">
                                            @if (Model.AssetGroup != null)
                                            {
                                                @Html.Label("Group", Model.AssetGroup, new { @class = "label-control required", placeholder = "Asset Category ID" })
                                                @Html.HiddenFor(x => x.AssetGroup)
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(x => x.AssetGroup, new { @class = "form-control required", placeholder = "Asset Group", required = "" })
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Departement</label>
                                        </div>
                                        <div class="col-md-7">
                                            @if (Model.Departement != null)
                                            {
                                                @Html.Label("Dept", Model.Departement, new { @class = "label-control required", placeholder = "Asset Category ID" })
                                                @Html.HiddenFor(x => x.Departement)
                                            }
                                            else
                                            {
                                                @*@Html.TextBoxFor(x => x.Departement, new { @class = "form-control required", placeholder = "Departement", required = "" })*@
                                                @Html.DropDownListFor(x => x.Departement, (List<SelectListItem>)ViewBag.departementList, "--select one--", new { @class = "form-control required", required = "" })
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Asset Category</label>
                                        </div>
                                        <div class="col-md-7">
                                            @if (Model.AssetCategory != null)
                                            {
                                                @Html.Label("assCat", Model.AssetCategory, new { @class = "label-control required", placeholder = "Asset Category ID" })
                                                @Html.HiddenFor(x => x.AssetCategory)
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(x => x.AssetCategory, new { @class = "form-control required", placeholder = "Asset Category", required = "" })
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Description</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control required", placeholder = "Description" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Location</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(x => x.Location, (List<SelectListItem>)ViewBag.selectLocation, "--select one--", new { @class = "form-control required", required = "" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">User Group</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(x => x.UserGroupHeader.UserGroupId, (List<SelectListItem>)ViewBag.usergroup, "--select one--", new { @class = "form-control required", required = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-12 control-label">
                                            <label>
                                                <b>Interval Information</b>
                                            </label>
                                        </div>
                                        <table class="table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Interval</th>
                                                    <th>Maintenance Date</th>
                                                    <th>Instruksi Kerja</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in listinterval)
                                                {
                                                    <tr>
                                                        @{
                                                            var intervaldata = interval.FirstOrDefault(x => x.Interval1 == item.IntervalCode);
                                                        }
                                                        @if (intervaldata != null)
                                                        {
                                                            <td><input name="interval" type="checkbox" value="@item.IntervalCode" checked>@item.Description</td>
                                                            <td>
                                                                <div class="input-group add-on">
                                                                    <input type="text" name="maintenanceperiod" value="@intervaldata.MaintenanceDate" class="form-control datepicker" />
                                                                    <div class="input-group-btn">
                                                                        <a href="#" class="btn btn-default"><i class="icon-calendar"></i></a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <select name="ik" class="form-control">
                                                                    <option value="">--Select One--</option>
                                                                    @foreach (var iks in ik)
                                                                    {
                                                                        if (intervaldata.IKCode == iks.Value)
                                                                        {
                                                                            <option value="@iks.Value" selected>@iks.Text</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@iks.Value">@iks.Text</option>
                                                                        }
                                                                    }
                                                                </select>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td><input name="interval" type="checkbox" value="@item.IntervalCode">@item.Description</td>
                                                            <td><div class="input-group add-on"><input type="text" name="maintenanceperiod" value="" class="form-control datepicker" /><div class="input-group-btn"><a href="#" class="btn btn-default"><i class="icon-calendar"></i></a></div></div></td>
                                                            <td>
                                                                <select name="ik" class="form-control">
                                                                    <option value="">--Select One--</option>
                                                                    @foreach (var iks in ik)
                                                                    {
                                                                        <option value="@iks.Value">@iks.Text</option>
                                                                    }
                                                                </select>
                                                            </td>
                                                        }

                                                    </tr>
                                                            }

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-12 control-label">
                                        <label>
                                            <b>Asset Information</b>
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Instalment Date</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="input-group add-on">
                                                @Html.TextBoxFor(x => x.InstalmentDate, new { @class = "form-control datepicker required", placeholder = "Instalment Date", required = "" })
                                                <div class="input-group-btn"><a href="#" class="btn btn-default"><i class="icon-calendar"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Lifetime</label>
                                        </div>
                                        <div class="col-md-5">
                                            @Html.TextBoxFor(x => x.Lifetime, new { @class = "form-control required", placeholder = "Lifetime", required = "" })

                                        </div>
                                        <div class="col-md-2">
                                            <label>Years</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Active</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(x => x.IsActive, (List<SelectListItem>)ViewBag.status, "--select one--", new { @class = "form-control required", required = "" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-9">
                                            <button type="submit" class="btn btn-sm btn-success" onclick="return confirm('Are you sure?')">Save</button>
                                            <a href="@Url.Action(MVC.MasterAsset.Index())"> <button type="button" class="btn btn-sm btn-danger">Close</button> </a>
                                        </div>
                                    </div>
                                </div>
                              }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
