﻿
@{
    ViewBag.Title = "Index";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">Dashboard</li>
    <li class="breadcrumb-item active">Master Asset</li>
    <!-- Breadcrumb Menu-->
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Master Asset List</strong>
                        <small>Form</small>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <form class="form-horizontal" style="width:70%">
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="UserId">Asset Group Code</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" id="assetgroupcode" placeholder="Search by Asset Group Code">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="UserId">Asset Category Code</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" id="assetcategoryid" placeholder="Search by Category Code">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="UserName">Description</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" id="assetdescription" placeholder="Search by Asset Description">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="UserName">Status</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownList("assetstatus", (List<SelectListItem>)ViewBag.active, "--select one--", new { @class = "form-control required", required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <button type="button" id="datatable-masterasset-search" class="btn btn-sm btn-primary">Search</button>
                                        <a href="@Url.Action(MVC.MasterAsset.AddEditAssetCategory())" class="btn btn-sm btn-success">Add</a>
                                    </div>
                                </div>
                            </form>
                            <div class="table-responsive">
                                <table id="data-table-assetcategory" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Asset Group</th>
                                            <th>Asset Category Code</th>
                                            <th>Asset Category</th>
                                            <th>Description</th>
                                            <th>Location</th>
                                            <th>Instalment Date</th>
                                            <th>Status</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<!-- Modal -->
<div id="ModalhistoryAsset" class="modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">History</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Asset Category Code</td>
                                <td>Asset Type</td>
                                <td>Date Replacement</td>
                                <td>Description</td>
                                <td>Remarks</td>
                                <td>Replacement Ke</td>
                            </tr>
                        </thead>
                        <tbody id="appendContainer"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
