﻿@model PreventiveAssetManagement.dataRepo.MasterAssetType
@{
    ViewBag.Title = "AssetTypeAddEdit";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="@Url.Action(MVC.MasterAsset.Index())">Master Asset Category</a></li>
    <li class="breadcrumb-item active">Master Asset Type Add Edit</li>
    <!-- Breadcrumb Menu-->

</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Master Asset Type</strong>
                        <small>Form</small>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            @using (Html.BeginForm(MVC.MasterAssetType.AssetTypeAddEdit(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "AssetType" }))
                            {
                                <div class="col-sm-12">
                                    @if (!string.IsNullOrEmpty(Model.MasterAssetTypeID))
                                    {
                                        <div class="form-group row">
                                            <div class="col-md-5 control-label">
                                                <label for="name">Asset Category Code</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.Label(Model.AssetCategoryID, new { @class = "label-control required" })
                                            </div>
                                        </div>

                                        
                                    }
                                    else
                                    {
                                        <div class="form-group row">
                                            <div class="col-md-5 control-label">
                                                <label for="name">Asset Category ID</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(x => x.AssetCategoryID, (List<SelectListItem>)ViewBag.assetGroup, "--select one--", new { @class = "form-control required", required = "" })
                                            </div>
                                        </div>
                                       
                                    }
                                    @if (!string.IsNullOrEmpty(Model.MasterAssetTypeID))
                                    {
                                        <div class="form-group row">
                                            <div class="col-md-5 control-label">
                                                <label for="name">Asset Type ID</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.Label(Model.MasterAssetTypeID, new { @class = "control-label required", placeholder = "Asset Type ID" })
                                                @Html.HiddenFor(x => x.MasterAssetTypeID)
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group row">
                                            <div class="col-md-5 control-label">
                                                <label for="name">Asset Type ID</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(x => x.MasterAssetTypeID, new { @class = "form-control required", placeholder = "Asset Type ID", required = "" })
                                            </div>
                                        </div>
                                    }

                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Description</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control required", placeholder = "Description" })
                                        </div>
                                    </div>
                                    @if (!string.IsNullOrEmpty(Model.InstallmentDate.ToString()))
                                    {
                                        <div class="form-group row">
                                            <div class="col-md-5 control-label">
                                                <label for="name">Installment Date</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.Label(Model.InstallmentDate.ToString(), new { @class = "label-control required" })
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group row">
                                            <div class="col-md-5 control-label">
                                                <label for="name">Installment Date</label>
                                            </div>
                                            <div class="col-md-7">
                                                <label class="control-label" id="installmentDate"></label>
                                            </div>
                                        </div>
                                    }

                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Lifetime</label>
                                        </div>
                                        <div class="col-md-5">
                                            @Html.TextBoxFor(x => x.Lifetime, new { @class = "form-control required", placeholder = "Lifetime", required = "" })
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Years</label>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Replacement ke-</label>
                                        </div>
                                        <div class="col-md-7">
                                            @if (!string.IsNullOrEmpty(Model.Replacement.ToString()))
                                            {
                                                @Html.Label(Model.Replacement.ToString(), new { @class = "control-label required" })
                                            }
                                            else
                                            {
                                                <label class="control-label">0</label>
                                            }

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Replacement Date</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(x => x.ReplacementDate, new { @class = "form-control required", placeholder = "Replacement Date", disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Status</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(x => x.IsActive, (List<SelectListItem>)ViewBag.active, "--select one--", new { @class = "form-control required", required = "" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-9">
                                            <button type="submit" class="btn btn-sm btn-success" onclick="return confirm('Are you sure?')">Save</button>
                                            <a href="@Url.Action(MVC.MasterAssetType.Index())"> <button type="button" class="btn btn-sm btn-danger">Close</button> </a>
                                        </div>
                                    </div>

                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

