﻿
@{
    ViewBag.Title = "Index";
}




@{
    ViewBag.Title = "Index";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">Dashboard</li>
    <li class="breadcrumb-item active">Master Asset</li>
    <!-- Breadcrumb Menu-->
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Search User Group</strong>
                        <small>Form</small>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <form class="form-horizontal" style="width:70%">
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-3 control-label">
                                            <label for="UserId">Asset Category Code</label>
                                        </div>
                                        <div class="col-md-7">
                                            @if (Session["searchAssetCategoryID"] != null)
                                            {
                                                <input type="text" class="form-control" id="assetcategoryid" value="@Session["searchAssetCategoryID"].ToString()" placeholder="Search by Asset Category Code">
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control" id="assetcategoryid" placeholder="Search by Asset Category Code">
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-3 control-label">
                                            <label for="UserId">Asset Type Code</label>
                                        </div>
                                        <div class="col-md-7">
                                            @if (Session["searchAssetTypeID"] != null)
                                            {
                                                <input type="text" class="form-control" id="assettypeid" value="@Session["searchAssetTypeID"].ToString()" placeholder="Search by Asset Type Code">
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control" id="assettypeid" placeholder="Search by Asset Type Code">
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-3 control-label">
                                            <label for="UserName">Description</label>
                                        </div>
                                        <div class="col-md-7">
                                            @if (Session["searchAssetTypeDescription"] != null)
                                            {
                                                <input type="text" class="form-control" id="assettypedescription" value="@Session["searchAssetTypeDescription"].ToString()" placeholder="Search by Asset Type Description">
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control" id="assettypedescription" placeholder="Search by Asset Type Description">
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-3 control-label">
                                            <label for="UserName">Status</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownList("assettypestatus", (List<SelectListItem>)ViewBag.active, "--select one--", new { @class = "form-control required", required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <button type="button" id="datatable-masterassettype-search" class="btn btn-sm btn-primary">Search</button>
                                        <a href="@Url.Action(MVC.MasterAssetType.AssetTypeAddEdit())" class="btn btn-sm btn-success">Add</a>
                                    </div>
                                </div>
                            </form>
                            <div class="table-responsive">
                                <table id="data-table-assettype" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Asset Category Code</th>
                                            <th>Asset Type Code</th>
                                            <th>Description</th>
                                            <th>Installment Date</th>
                                            <th>Lifetime</th>
                                            <th>Replacement ke</th>
                                            <th>Replacement Date</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
