﻿@model  PreventiveAssetManagement.dataRepo.MasterUser
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active">Change Password</li>
    <!-- Breadcrumb Menu-->

</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-10">
                <div class="card">
                    <div class="card-header">
                        <strong>Change Password</strong>
                        <small>Form</small>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @using (Html.BeginForm(MVC.ChangePassword.ChangePassword(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "FormChangePass", @style = "width:100%" }))
                            {
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-md-3 control-label">
                                            <label for="name">Password</label>
                                        </div>
                                        @Html.Hidden("UserId", Model.UserID)
                                        <div class="col-md-7">
                                            @*@Html.TextBoxFor(x => x.Password, new { @class = "form-control required", placeholder = "Password" ,required = "required"})*@
                                            <input type="password" id="Password" name="Password" value="@Model.Password" class="form-control required" required />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3 control-label">
                                            <label for="name">Password</label>
                                        </div>
                                        <div class="col-md-7">
                                            @*@Html.Password("newPass","", new { @class = "form-control required", placeholder = "Repeat Password",required = "required", data_parsley_equalto = "#Password" })*@
                                            <input type="password" name="Passwords" value="@Model.Password" class="form-control required" data-parsley-equalto="#Password" required />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-5 control-label"></label>
                                        <div class="col-md-9">
                                            <button type="submit" class="btn btn-sm btn-success" onclick="return confirm('Are you sure?')">Save</button>
                                            <a href="@Url.Action(MVC.Dashboard.Index())"> <button type="button" class="btn btn-sm btn-danger">Close</button> </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
