﻿@model PreventiveAssetManagement.dataRepo.RiskVisit
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> depts = new List<string>();
    List<string> picVis = new List<string>();
    if (Model.Inspector != null)
    {
        string[] picdepts = Model.Inspector.Split(',');
        depts = picdepts.ToList();
    }
    if (Model.PICDept != null)
    {
        string[] picvis = Model.PICDept.Split(',');
        picVis = picvis.ToList();
    }
    var WORData = (PreventiveAssetManagement.dataRepo.WorkOrderManual)ViewBag.WOR;
    var checklist = (List<PreventiveAssetManagement.dataRepo.RiskVisitChecklist>)ViewBag.checklist;
    var printUrl = "http://piracksrv07/ReportServer/Pages/ReportViewer.aspx?%2fHirac%2fRiskAssuranceVisitForm&rs:Command=Render&WorkOrderID=" + Model.WorkOrderID;
    var dept = (List<SelectListItem>)ViewBag.dpt;
}
<script src="~/Assets/js/jquery-1.8.2/jquery-1.8.2.min.js"></script>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Risk Visit</strong>
                        <small>Form</small>

                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm(MVC.Risk.RiskVisitForm.Index(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "formUserGroup", @style = "width:100%" }))
                        {
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-md-3 control-label">
                                        <label for="name">Risk Visit ID</label>
                                    </div>
                                    <div class="col-md-7">
                                        @if (Model.VisitID != null)
                                        {
                                            @Html.HiddenFor(x => x.VisitID)
                                            <label class="control-label">@Model.VisitID </label>
                                        }
                                        else
                                        {

                                            <label class="control-label">[Generated by System]</label>
                                        }
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 control-label">
                                        <label for="name">Work Order ID</label>
                                    </div>
                                    <div class="col-md-7">
                                        @Html.HiddenFor(x => x.WorkOrderID, Model.WorkOrderID)
                                        <label class="control-label">@Model.WorkOrderID</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 control-label">
                                        <label for="name">Visit Date</label>
                                    </div>
                                    <div class="col-md-7">
                                        @if (Model.VisitDate != null)
                                        {
                                            @Html.TextBox("VisitDate", Model.VisitDate.GetValueOrDefault().ToString("yyyy-MM-dd"), new { @class = "form-control", required = "required", type = "date" })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(x => x.VisitDate, new { @class = "form-control", required = "required", type = "date" })
                                        }
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 control-label">
                                        <label for="name">Visit Time</label>
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.VisitTimeFrom, new { @class = "form-control timepicker", required = "required" })
                                    </div>
                                    <div class="col-md-1">
                                        <label>To</label>
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(x => x.VisitTimeTo, new { @class = "form-control timepicker", required = "required" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 control-label">
                                        <label for="name">Location</label>
                                    </div>
                                    <div class="col-md-7">
                                        <label class="control-label">@WORData.MasterAssetCategory.MasterLocation.LocationArea</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 control-label">
                                        <label for="name">Departement</label>
                                    </div>
                                    <div class="col-md-7">
                                        @Html.Hidden("Departements", WORData.MasterAssetCategory.Departement)
                                        <label class="control-label">@WORData.MasterAssetCategory.Departement</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 control-label">
                                        <label for="name">Item Group</label>
                                    </div>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(x => x.GroupItem, (List<SelectListItem>)ViewBag.itemgroup, "--select one--", new { @class = "form-control required", required = "" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 control-label">
                                        <label for="name">Checklist</label>
                                    </div>
                                    <div class="col-md-7">
                                        <select name="ChecklistHeader" id="ChecklistHeader" class="form-control">
                                            @if (Model.ChecklistHeader != null)
                                            {
                                                <option value="@Model.ChecklistHeader">@Model.ChecklistHeader1.Description</option>
                                            }
                                            else
                                            {
                                                <option>--Select One--</option>
                                            }

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 control-label">
                                        <label for="name">Tenant Name</label>
                                    </div>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(x => x.TenantName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <table class="table table-striped" name="">
                                        <thead>
                                            <tr>
                                                <td>Area Pemeriksaan</td>
                                                <td>Kondisi</td>
                                                <td>Kategori</td>
                                                <td>Dokumentasi</td>
                                                <td>Keterangan</td>
                                                <td>Deadline</td>
                                                <td>PIC Departement</td>
                                            </tr>
                                        </thead>
                                        <tbody id="container">
                                            @foreach (var item in checklist)
                                            {
                                                <tr>
                                                    @Html.Hidden("detailid", @item.ChecklistID)
                                                    @Html.Hidden("area", @item.Area)
                                                    <td><label class="control-label">@item.Area</label></td>
                                                    <td><input type="text" class="form-control" name="condition" value="@item.Condition" /></td>
                                                    <td>
                                                        <select name="kategori" class="form-control">
                                                            @if (item.Category == "berat")
                                                            {
                                                                <option value="berat" selected>Berat</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="berat">Berat</option>
                                                            }
                                                            @if (item.Category == "sedang")
                                                            {
                                                                <option value="sedang" selected>Sedang</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="sedang">Sedang</option>
                                                            }
                                                            @if (item.Category == "ringan")
                                                            {
                                                                <option value="ringan" selected>Ringan</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="ringan">Ringan</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        @if (!string.IsNullOrEmpty(item.Documentation))
                                                        {
                                                            <img src="@item.Documentation" style="max-height:300px;max-width:300px" /><br />
                                                            <input type='file' name='dokumentasi' class='doc'><input type='hidden' name='isupload'>
                                                        }
                                                        else
                                                        {
                                                            <input type='file' name='dokumentasi' class='doc'><input type='hidden' name='isupload'>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (!string.IsNullOrEmpty(item.Remark))
                                                        {
                                                            <textarea rows='4' name='Keterangan' class='form-control'>@item.Remark</textarea>
                                                        }
                                                        else
                                                        {
                                                            <textarea rows='4' name='Keterangan' class='form-control'></textarea>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.Deadline != null)
                                                        {
                                                            <input type='date' class='form-control required' name='deadline' value="@item.Deadline.GetValueOrDefault().ToString("yyyy-MM-dd")" required>
                                                        }
                                                        else
                                                        {
                                                            <input type='date' class='form-control required' name='deadline' required>
                                                        }
                                                    </td>
                                                    <td>
                                                        <select name="PICDept">
                                                            @foreach (var items in dept)
                                                            {
                                                                if (item.PICDept == items.Value)
                                                                {
                                                                    <option value="@items.Value" selected>@items.Text</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@items.Value">@items.Text</option>
                                                                }

                                                            }
                                                        </select>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div id="containerPICs" class="cloned">
                                    @if (depts.Count > 0)
                                    {
                                        foreach (var item in depts)
                                        {
                                            var last = depts.Last();
                                            if (item == last)
                                            {
                                                <div class="form-group row">
                                                    <div class="col-md-3 control-label">
                                                        <label for="name">Departement</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <select name="inspectors" class="form-control">
                                                            @foreach (var items in dept)
                                                            {
                                                                if (items.Value == item)
                                                                {
                                                                    <option value="@items.Value" selected>@items.Text</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@items.Value">@items.Text</option>
                                                                }

                                                            }
                                                        </select>
                                                        @*@Html.DropDownListFor(x => x.Inspector, (List<SelectListItem>)ViewBag.dpt, "--select one--", new { @class = "form-control required", required = "" })*@
                                                        @*@Html.DropDownList("Inspectors", (List<SelectListItem>)ViewBag.dpt, "--select one--", new { @class = "form-control required", required = "" })*@
                                                        @*@Html.TextBoxFor(x => x.Inspector, new { @class = "form-control", required = "required" })*@
                                                    </div>
                                                    <div id="divActions">
                                                        <a href="#" id="addDepts" class="btn btn-sm btn-success ">Add</a>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="form-group row">
                                                    <div class="col-md-3 control-label">
                                                        <label for="name">Departement</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <select name="inspectors" class="form-control">
                                                            @foreach (var items in dept)
                                                            {
                                                                if (items.Value == item)
                                                                {
                                                                    <option value="@items.Value" selected>@items.Text</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@items.Value">@items.Text</option>
                                                                }

                                                            }
                                                        </select>
                                                        @*@Html.DropDownListFor(x => x.Inspector, (List<SelectListItem>)ViewBag.dpt, "--select one--", new { @class = "form-control required", required = "" })*@
                                                        @*@Html.DropDownList("Inspectors", (List<SelectListItem>)ViewBag.dpt, "--select one--", new { @class = "form-control required", required = "" })*@
                                                        @*@Html.TextBoxFor(x => x.Inspector, new { @class = "form-control", required = "required" })*@
                                                    </div>
                                                    <div id="divActions">
                                                        <a href="#" class="btn btn-sm btn-danger deleteEls">delete</a>
                                                    </div>
                                                </div>
                                            }
                                        }

                                    }
                                    else
                                    {
                                        <div class="form-group row">
                                            <div class="col-md-3 control-label">
                                                <label for="name">Departement</label>
                                            </div>
                                            <div class="col-md-7">
                                             
                                                @*@Html.DropDownListFor(x => x.Inspector, (List<SelectListItem>)ViewBag.dpt, "--select one--", new { @class = "form-control required", required = "" })*@
                                                @Html.DropDownList("Inspectors", (List<SelectListItem>)ViewBag.dpt, "--select one--", new { @class = "form-control required", required = "" })
                                                @*@Html.TextBoxFor(x => x.Inspector, new { @class = "form-control", required = "required" })*@
                                            </div>
                                            <div id="divActions">
                                                <a href="#" id="addDepts" class="btn btn-sm btn-success ">Add</a>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div id="containerPIC" class="cloned">
                                    @if (picVis.Count > 0)
                                    {
                                        foreach (var item in picVis)
                                        {
                                            var last = picVis.Last();
                                            if (item == last)
                                            {
                                                <div class="form-group row cloned">
                                                    <div class="col-md-3 control-label">
                                                        <label for="name">PIC Visit</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        @*@Html.TextBoxFor(x => x.PICVisit, new { @class = "form-control", required = "required" })*@
                                                        <input type="text" name="PICvis" class="form-control" value="@item" required />
                                                    </div>
                                                    <div id="divAction">
                                                        <a href="#" id="addPIC" class="btn btn-sm btn-success">Add</a>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="form-group row cloned">
                                                    <div class="col-md-3 control-label">
                                                        <label for="name">PIC Visit</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        @*@Html.TextBoxFor(x => x.PICVisit, new { @class = "form-control", required = "required" })*@
                                                        <input type="text" name="PICvis" class="form-control" value="@item" required />
                                                    </div>
                                                    <div id="divAction">
                                                        <a href="#" class="btn btn-sm btn-danger deleteEl">Delete</a>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <div class="form-group row cloned">
                                            <div class="col-md-3 control-label">
                                                <label for="name">PIC Visit</label>
                                            </div>
                                            <div class="col-md-7">
                                                @*@Html.TextBoxFor(x => x.PICVisit, new { @class = "form-control", required = "required" })*@
                                                <input type="text" name="PICvis" class="form-control" required />
                                            </div>
                                            <div id="divAction">
                                                <a href="#" id="addPIC" class="btn btn-sm btn-success">Add</a>
                                            </div>
                                        </div>
                                    }
                                    
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 control-label">
                                        <label for="name">Remark</label>
                                    </div>
                                    <div class="col-md-7">
                                        @Html.TextAreaFor(x => x.Remark, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <a href="@printUrl" class="btn btn-raised btn-primary" value="save">Print</a>
                                        <button type="submit" class="btn btn-raised btn-primary" onclick="return confirm('Are you sure?')" name="submitButton" value="save">Save</button>
                                        <button type="submit" class="btn btn-raised btn-primary" onclick="return confirm('Are you sure?')" name="submitButton" value="done">Done</button>
                                        <a href="@Url.Action(MVC.Risk.Todo.Index())"> <button type="button" class="btn btn-sm btn-danger">Close</button> </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#GroupItem").change(function () {
            var value = this.value;
            $.ajax({
                url: '@Url.Action(MVC.Risk.RiskVisitForm.GetChecklistItemByGroup())?groupid=' + value,
                success: function (response) {
                    $("#ChecklistHeader option").remove();
                    var appended = "<option value=''>--Select One--</option>";
                    for (var i = 0; i < response.length; i++) {
                        appended = appended + "<option value='" + response[i].ChecklistHeaderID + "'>" + response[i].Description + "</option>"
                    }
                    $("#ChecklistHeader").append(appended);

                }
            })

        })
        $("#ChecklistHeader").change(function () {
            var value = this.value;
            $.ajax({
                url: '@Url.Action(MVC.Risk.RiskVisitForm.GetMapDetailData())?id=' + value,
                success: function (response) {
                    var container = $("#container");
                    container.empty();
                    var appended = "";
                    for (var i = 0; i < response.data.length; i++) {
                        appended = appended + "<tr>";
                        appended = appended + "<input type='hidden' name='detailid' value='" + response.data[i].detailid + "'>"
                        appended = appended + "<input type='hidden' name='area' value='" + response.data[i].kondisi + "'>"
                        appended = appended + "<td><label class='control-label'>" + response.data[i].kondisi + "</label></td>";
                        appended = appended + "<td><input type='text' name='condition' class='form-control'></input></td>";
                        appended = appended + "<td><select name='kategori' class='form-control'><option value='berat' selected>Berat</option><option value='sedang'>Sedang</option><option value='ringan'>Ringan</option></select></td>";
                        appended = appended + "<td><input type='file' name='dokumentasi' class='doc'><input type='hidden' name='isupload'></td>";
                        appended = appended + "<td><textarea rows='4' name='Keterangan' class='form-control'></textarea></td>";
                        appended = appended + "<td><input type='date' class='form-control required' name='deadline' required></td>";
                        appended = appended + "<td><select name='PICDept' class='form-control' required><option>-- Select One --</option>"
                        for (var a = 0; a < response.dept.length; a++) {
                            appended = appended + "<option value='" + response.dept[a].Value + "'>" + response.dept[a].Text +"</option>"
                        }
                        appended = appended + "</select></td>"
                        appended = appended + "</tr>";
                    }

                    $("#container").append(appended);
                }
            })
        })
        $("body").on("change", '.doc', function (e) {
            var content = $(this);
            var id = content.parent().parent().find('input[name=detailid]').val();
            content.siblings().val(id);
        })
        $("body").on("click", '.deleteEl', function (e) {
            e.preventDefault();
            var el = $(this);
            el.parent().parent().remove();
        })
        $("body").on("click", '.deleteEls', function (e) {
            e.preventDefault();
            var el = $(this);
            el.parent().parent().remove();
        })
        $("#addPIC").click(function (e) {
            e.preventDefault();
            var el = $(this);
          var appended = "<a href='#' class='btn btn-sm btn-danger deleteEl'>Delete</a>"
          var cloned =  $(this).parent().parent().clone();
          cloned.find("#divAction").empty().append(appended);
          $("#containerPIC").append(cloned);
        })
        $("#addDepts").click(function (e) {
            e.preventDefault();
            var el = $(this);
            var appended = "<a href='#' class='btn btn-sm btn-danger deleteEls'>Delete</a>"
            var cloned = $(this).parent().parent().clone();
            cloned.find("#divActions").empty().append(appended);
            $("#containerPICs").append(cloned);
        })
        //$("#VisitTimeFrom").timepicker().on('changeTime', function (ev) {
        //    console.log($(this).timepicker('getTime'));
        //    console.log($(ev.target).timepicker('getTime'));
        //});
    })
</script>