﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body" style="width:100%">
                        <div class="row">
                            <div id='RiskTodo' style="width:100%"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


