﻿@model PreventiveAssetManagement.dataRepo.MasterDepartement
@{
    ViewBag.Title = "AddEditDepartement";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="#">Departement</a></li>
    <li class="breadcrumb-item active">Add Edit Departement</li>
    <!-- Breadcrumb Menu-->
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Master Departement</strong>
                        <small>Form</small>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            @using (Html.BeginForm(MVC.Departement.AddEditDepartement(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "FormLocation" }))
                            {
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Departement Name</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(x => x.DepartementName,new { @class = "form-control", placeholder = "Departement Name", required = "" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Departement Desc</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.TextAreaFor(x => x.DepartementDesc, new { @class = "form-control", placeholder = "Departement Description" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Color</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(x => x.color, new { @class = "form-control", placeholder = "Color", required="" })
                                            <span class="input-group-addon"><i></i></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-9">
                                            <button type="submit" onclick="return confirm('Are you sure?')" class="btn btn-sm btn-success">Save</button>
                                            <a href="@Url.Action(MVC.Departement.Index())"> <button type="button" class="btn btn-sm btn-danger">Close</button> </a>
                                        </div>
                                    </div>
                                    @Html.HiddenFor(x => x.DepartementID)
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
