﻿@model List<PreventiveAssetManagement.dataRepo.MasterDepartement>
@{
    ViewBag.Title = "Index";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">Dashboard</li>
    <li class="breadcrumb-item active">Departement</li>
    <!-- Breadcrumb Menu-->
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Departement List</strong>
                        <small>Form</small>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-3 control-label"></label>
                                <div class="col-md-9">
                                    <a href="@Url.Action(MVC.Departement.AddEditDepartement(0))" class="btn btn-sm btn-success">Add Departement</a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="data-table-workorder" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Departement Name</th>
                                            <th>Departement Desc</th>
                                            <th>Departement Color</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.DepartementName</td>
                                                <td>@item.DepartementDesc</td>
                                                <td style="background-color:@item.color"></td>
                                                <td><a href="@Url.Action(MVC.Departement.AddEditDepartement(item.DepartementID))" class="btn btn-sm btn-primary"><i class="icon-pencil"></i></a><a href="@Url.Action(MVC.Departement.DeleteDept(item.DepartementID))" class="btn btn-sm btn-danger"><i class="icon-trash"></i></a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>