﻿
@{
    ViewBag.Title = "MainAssetAgingReport";
}


<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="#">Report</a></li>
    <li class="breadcrumb-item active">Main Asset Aging Report</li>
    <!-- Breadcrumb Menu-->
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-10">
                <div class="card">
                    <div class="card-header">
                        <strong>Main Asset Aging Report</strong>
                        <small>Form</small>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <form action="@Url.Action(MVC.Report.MainAssetAgingReport())" method="post" class="form-horizontal" style="width:100%">
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                            <div class="col-md-5 control-label">
                                                <label for="name">Asset Group</label>
                                            </div>
                                            <div class="col-md-7">
                                                @Html.DropDownList("assetgroup", (List<SelectListItem>)ViewBag.Group, "--select one--", new { @class = "form-control required select2" })
                                            </div>
                                        </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Asset Category</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownList("assetcategory", (List<SelectListItem>)ViewBag.Category, "--select one--", new { @class = "form-control required select2" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">General Asset Code (ex :  "AHU")</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.TextBox("GeneralCode", null, new { @class = "form-control required" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12 control-label">
                                            <label for="name"><b>Date</b></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">From</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control datepicker" name="from" placeholder="From">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">To</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control datepicker" name="to" placeholder="To">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <button type="submit" class="btn btn-sm btn-primary">Generate Report</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>