﻿
@{
    ViewBag.Title = "RepairMaintenanceAssetReport";
}


<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="#">Report</a></li>
    <li class="breadcrumb-item active">Repair Maintenance Asset Report</li>
    <!-- Breadcrumb Menu-->
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-10">
                <div class="card">
                    <div class="card-header">
                        <strong>Repair Maintenance Report</strong>
                        <small>Form</small>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <form action="@Url.Action(MVC.Report.RepairMaintenanceAssetReport())" method="post" class="form-horizontal" style="width:100%">
                                <div class="col-sm-12">
                                    @*<div class="form-group row">
                                            <div class="col-md-5 control-label">
                                                <label for="name">Asset Group</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input type="text" class="form-control" name="assetgroup" placeholder="Asset Group">
                                            </div>
                                        </div>*@
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Maintenance Type</label>
                                        </div>
                                        <div class="col-md-7">
                                            
                                            <select name="maintenanceType">
                                                <option value="Replace">Replace</option>
                                                <option value="Service">Service</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Asset Category Code</label>
                                        </div>
                                        <div class="col-md-7">
                                            @*<input type="text" class="form-control" name="assetcategorycode" placeholder="Asset Category Code">*@
                                            @Html.DropDownList("assetcategorycode", (List<SelectListItem>)ViewBag.Category, "--select one--", new { @class = "form-control required select2" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Asset Type Code</label>
                                        </div>
                                        <div class="col-md-7">
                                            @*<input type="text" class="form-control" name="assetcategorytype" placeholder="Asset Type Code">*@
                                            <select name="assettypecode" id="assettype" class="form-control select2">
                                                <option>--select one--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12 control-label">
                                            <label for="name"><b>Work Order Date</b></label>
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">From</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control datepicker" name="from" placeholder="From">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">To</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control datepicker" name="to" placeholder="To">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <button type="submit" class="btn btn-sm btn-primary">Generate Report</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>