﻿
@{
    ViewBag.Title = "WorkOrderReport";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="#">Report</a></li>
    <li class="breadcrumb-item active">Work Order Report</li>
    <!-- Breadcrumb Menu-->
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-10">
                <div class="card">
                    <div class="card-header">
                        <strong>Work Order Report</strong>
                        <small>Form</small>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <form action="@Url.Action(MVC.Report.WorkOrderReport())" method="post" class="form-horizontal" style="width:100%">
                                <div class="col-sm-12">
                                    @*<div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Asset Group</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" name="assetgroup" placeholder="Asset Group">
                                        </div>
                                    </div>*@
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Asset Category Code</label>
                                        </div>
                                        <div class="col-md-7">
                                      @Html.DropDownList("assetcategorycode", (List<SelectListItem>)ViewBag.Category, "--select one--", new { @class = "form-control required select2" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Interval</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownList("interval", (List<SelectListItem>)ViewBag.Interval, "--select one--", new { @class = "form-control required select2" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">General Asset Code (ex :  "AHU")</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.TextBox("GeneralCode",null, new { @class = "form-control required" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12 control-label">
                                            <label for="name"><b>Work Order Date</b></label>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">From</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control datepicker" name="from" placeholder="From">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">To</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control datepicker" name="to" placeholder="To">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <button type="submit" class="btn btn-sm btn-primary">Generate Report</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>