﻿@model PreventiveAssetManagement.dataRepo.MasterUser
@{
    ViewBag.Title = "AddEditUser";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="#">Admin</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group">
            <a class="btn" href="#"><i class="icon-speech"></i>Dashboard</a>
            <a class="btn" href="@Url.Action(MVC.Location.Index())"><i class="icon-graph"></i>Master Location</a>
            <a class="btn" href="#"><i class="icon-settings"></i>Add Master Location</a>
        </div>
    </li>
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Add User</strong>
                        <small>Form</small>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            @using (Html.BeginForm(MVC.User.AddEditUser(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "FormAddUser" }))
                            {
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">User ID</label>
                                        </div>
                                        <div class="col-md-7">
                                            @if (Model.UserID != null)
                                            {
                                                @Html.HiddenFor(x => x.UserID)
                                                @Html.TextBoxFor(x => x.UserID, new { @class = "form-control required", placeholder = "User ID", required = "", disabled = "disabled" })
                                            }
                                            else
                                            {

                                                @Html.TextBoxFor(x => x.UserID, new { @class = "form-control required", placeholder = "User ID", required = "" })
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Password</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.Password("Password", Model.Password, new { @class = "form-control required", placeholder = "Password", required = "" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Name</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control required", placeholder = "Name", required = "" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Departement</label>
                                        </div>
                                        <div class="col-md-7">
                                            @*@Html.TextBoxFor(x => x.Department, new { @class = "form-control required", placeholder = "Departement", required = "" })*@
                                            @Html.DropDownListFor(x => x.Department, (List<SelectListItem>)ViewBag.dept, "--select one--", new { @class = "form-control required" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Email</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control required", placeholder = "Email", required = "" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Role</label>
                                        </div>
                                        <div class="col-md-7">
                                            @*<select name="Role" class="form-control">
                                                    <option value="staff">Staff</option>
                                                    <option value="manager">Manager</option>
                                                    <option value="leader">Leader</option>
                                                    <option value="pic">PIC</option>
                                                    <option value="it">IT</option>
                                                </select>*@
                                            @if (!string.IsNullOrEmpty(Model.Role))
                                            {
                                                <select name="Role" class="form-control">
                                                    @foreach (var item in (List<SelectListItem>)ViewBag.role)
                                                    {
                                                        if (item.Value == Model.Role)
                                                        {
                                                            <option value="@item.Value" selected="selected">@item.Text</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.Value">@item.Text</option>
                                                        }
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(x => x.Role, (List<SelectListItem>)ViewBag.role, "--select one--", new { @class = "form-control required" })
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-9">
                                            <button type="submit" class="btn btn-sm btn-success" onclick="return confirm('Are you sure?')">Save</button>
                                            <a href="@Url.Action(MVC.User.Index())"> <button type="button" class="btn btn-sm btn-danger">Close</button> </a>
                                        </div>
                                    </div>

                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
