﻿
@{
    ViewBag.Title = "Index";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="#">Admin</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
    <!-- Breadcrumb Menu-->
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Search User</strong>
                        <small>Form</small>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <form  class="form-horizontal">
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="UserId">User ID</label>
                                        </div>
                                        <div class="col-md-7">
                                            @if (Session["searchUserID"] != null)
                                            {
                                                <input type="text" class="form-control" id="UserID" value="@Session["searchUserID"].ToString()" placeholder="Search by User ID">
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control" id="UserID" placeholder="Search by User ID">
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="UserName">Name</label>
                                        </div>
                                        <div class="col-md-7">
                                            @if (Session["searchUserName"] != null)
                                            {
                                                <input type="text" class="form-control" value="@Session["searchUserName"].ToString()" id="UserName" placeholder="Search by Name">
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control" id="UserName" placeholder="Search by Name">
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <button type="button" id="datatable-name-search" class="btn btn-sm btn-primary">Search</button>
                                        <a href="@Url.Action(MVC.User.AddEditUser())" class="btn btn-sm btn-success">Add</a>
                                    </div>
                                </div>
                            </form>
                            <div class="table-responsive">
                                <table id="data-table-user" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>User ID</th>
                                            <th>User Name</th>
                                            <th>Status</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>