﻿@model PreventiveAssetManagement.dataRepo.ChecklistHeader

@{
    ViewBag.Title = "ChecklistHeaderAddEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var detail = (List<PreventiveAssetManagement.dataRepo.ItemChecklistDetail>)ViewBag.DetailData;
    var Assign = (List<PreventiveAssetManagement.dataRepo.ChecklistHeaderDetail>)ViewBag.AssignDetail;
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active">Add Edit Checklist Header</li>
    <!-- Breadcrumb Menu-->
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Checklist Header Add Edit</strong>
                        <small>Form</small>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @using (Html.BeginForm(MVC.Risk.ItemChecklist.ChecklistHeaderAddEdit(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "FormLocation" }))
                            {
                                @Html.HiddenFor(x => x.ChecklistHeaderID)
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Item Checklist Code</label>
                                        </div>
                                        <div class="col-md-7">
                                            @if (Model.ChecklistHeaderID != null)
                                            {
                                                <label class="control-label">@Model.ChecklistHeaderID</label>
                                            }
                                            else
                                            {
                                                <label class="control-label">[ Generated by System ]</label>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Description</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control", required = "required" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Group Item Description</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(x => x.GroupItem, (List<SelectListItem>)ViewBag.group, "--select one--", new { @class = "form-control required", required = "" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5">
                                            <label class="control-label">Item</label>
                                            <select name="from" id="multiselect" class="form-control" size="8" multiple="multiple">
                                                @foreach (var item in detail)
                                                {
                                                    <option value="@item.ChecklistDetail">@item.Description</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="control-label">Option</label>
                                            <button type="button" id="multiselect_rightAll" class="btn btn-sm btn-block"><i class="icon-control-forward"></i></button>
                                            <button type="button" id="multiselect_rightSelected" class="btn btn-sm btn-block"><i class="icon-arrow-right"></i></button>
                                            <button type="button" id="multiselect_leftSelected" class="btn btn-sm btn-block"><i class="icon-arrow-left"></i></button>
                                            <button type="button" id="multiselect_leftAll" class="btn btn-sm btn-block"><i class="icon-control-rewind"></i></button>
                                        </div>
                                        <div class="col-md-5">
                                            <label class="control-label">Group Item</label>
                                            <select name="mutliselect_to" id="multiselect_to" class="form-control" size="8" multiple="multiple">
                                                @foreach (var item in Assign)
                                                {
                                                    <option value="@item.ItemChecklistDetail1.ChecklistDetail">@item.ItemChecklistDetail1.Description</option>
                                                }
                                            </select>
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Status</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(x => x.IsActive, (List<SelectListItem>)ViewBag.stat, "--select one--", new { @class = "form-control required", required = "" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-9">
                                            <button type="submit" class="btn btn-sm btn-success" onclick="return confirm('Are you sure?')">Save</button>
                                            <a href="@Url.Action(MVC.Risk.ItemChecklist.CheckklistHeaderList())"> <button type="button" class="btn btn-sm btn-danger">Close</button> </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>