﻿@model PreventiveAssetManagement.dataRepo.ItemChecklistDetail
@{
    ViewBag.Title = "ItemDetailAddEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="#">Master Item</a></li>
    <li class="breadcrumb-item active">Add Edit Master Item</li>
    <!-- Breadcrumb Menu-->
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Master Item Add Edit</strong>
                        <small>Form</small>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @using (Html.BeginForm(MVC.Risk.ItemChecklist.ItemDetailAddEdit(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "FormLocation" }))
                            {
                                @Html.HiddenFor(x => x.ChecklistDetail)
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Item Code</label>
                                        </div>
                                        <div class="col-md-7">
                                            <label for="name">[ Generated by System ]</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Description</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control", placeholder = "Description", required = "" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Status</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(x => x.IsActive, (List<SelectListItem>)ViewBag.act, "--select one--", new { @class = "form-control required", required = "" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-9">
                                            <button type="submit" class="btn btn-sm btn-success" onclick="return confirm('Are you sure?')">Save</button>
                                            <a href="@Url.Action(MVC.Risk.ItemChecklist.List())"> <button type="button" class="btn btn-sm btn-danger">Close</button> </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



