﻿
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body" style="width:100%">
                        <div class="row">
                            <form class="form-horizontal">
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="UserId">Item Description</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input id="ItemDesc" type="text" class="form-control" placeholder="Item Description" />

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-7">
                                            <a href="#" id="RiskItemSearch" class="btn btn-success">Search</a>
                                            <a href="@Url.Action(MVC.Risk.ItemChecklist.ItemDetailAddEdit(0))" class="btn btn-success">Add</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="table-responsive">
                                <table id="data-table-RiskChkDetail" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Item Code</th>
                                            <th>Description</th>
                                            <th>Created Date</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>
                            @*<div id='riskCalendar' style="width:100%"></div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

