﻿@model PreventiveAssetManagement.dataRepo.RiskVisit
    @{
        Layout = null;
    }

<!DOCTYPE html>
<html>
    <body>
        <div>
            <h3 style="text-align:center">Risk Assurance Visit Checklist</h3>
            <hr />
            <h5 style="text-align:center">@Model.GroupItem1.Description</h5>
            <hr />
        </div>
        <table style="width:100%">
            <tr>
                <td>Nama Tenant : </td>
                <td></td>
                <td>@Model.VisitID</td>
            </tr>
            <tr>
                <td>Pemeriksa : </td>
                <td>@Model.Inspector</td>
            </tr>
            <tr>
                <td>Dikerjakan : </td>
                <td>Date : @Model.VisitDate.Value.ToShortDateString()</td>
            
            </tr>
            <tr>
                <td> </td>
                <td>Time : @Model.VisitTimeFrom</td>
            </tr>
            <tr>
                <td>Diselesaikan : </td>
                <td>Date : @Model.VisitDate.Value.ToShortDateString()</td>
               <td>Tgl. eff</td>
            </tr>
            <tr>
                <td> </td>
                <td>Time : @Model.VisitTimeTo</td>
            </tr>
        </table>
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Area pemeriksaan</th>
                    <th>Kondisi</th>
                    <th>Kategori</th>
                </tr>
            </thead>
        </table>
    </body>
</html>
