﻿
@{
    ViewBag.Title = "Calendar";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">Work Order</li>
    <li class="breadcrumb-item active">Calendar</li>
    <!-- Breadcrumb Menu-->
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Search User Group</strong>
                        <small>Form</small>

                    </div>
                    <div class="card-body" style="width:100%">
                        <div class="row">
                            <form class="form-horizontal" style="width:70%">
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="CategoryAsset">Category Asset ID</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" id="CategoryAssetIdSearch" placeholder="Search by Category Asset ID">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="CategoryAsset">Work Order No</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" id="WorkOrderNoSearch" placeholder="Search by Work Order No">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <button type="button" id="calendarSearch" class="btn btn-sm btn-primary">Search</button>
                                    </div>
                                </div>
                            </form>
                            <div id='RiskCalendar' style="width:100%"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

