﻿@model PreventiveAssetManagement.dataRepo.WorkOrderManual
@{
    ViewBag.Title = "EditWorkOrder";
    var ikCategory = (List<PreventiveAssetManagement.dataRepo.IKCategory>)ViewBag.category;
    var condition = (List<PreventiveAssetManagement.dataRepo.IKCondition>)ViewBag.condition;
    var vendor = (List<PreventiveAssetManagement.dataRepo.IKConditionVendor>)ViewBag.vendor;
    var maintenance = (List<PreventiveAssetManagement.dataRepo.WorkOrderManualMaintenance>)ViewBag.maintenance;
    var approver = (String)ViewBag.approver;
    int currentPos = 1;
}

<style>
    .tablecontainer {
        width: auto;
        overflow: hidden;
    }

    .ths, .tds {
        width: 200px;
    }

    /*.tbodys {
        display: block;
        height: 200px;
        overflow: auto;
    }*/
</style>


<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="@Url.Action(MVC.MasterAsset.Index())">Work Order Manual</a></li>
    <li class="breadcrumb-item active">Work Order</li>
    <!-- Breadcrumb Menu-->

</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Work Order</strong>
                        <small>Form</small>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            @using (Html.BeginForm(MVC.WorkOrder.GenerateManual(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "FormWorkOrder", @style = "width:100%" }))
                            {
                                <div class="col-md-12 control-label">
                                    <label>
                                        <b>Work Order</b>
                                    </label>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-md-4 control-label">
                                            <label for="name">Departement</label>
                                        </div>
                                        <div class="col-md-7 control-label">
                                            <label class="control-label">@Model.MasterAssetCategory.Departement</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4 control-label">
                                            <label for="name">WO No</label>
                                        </div>
                                        <div class="col-md-7 control-label">
                                            <label class="control-label">@Model.WorkOderManualID</label>
                                            @Html.HiddenFor(x => x.WorkOderManualID)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4 control-label">
                                            <label for="name">Work Order Date</label>
                                        </div>
                                        <div class="col-md-7 control-label">
                                            <label class="control-label">@Model.WorkOrderDate.GetValueOrDefault().ToString("dd-MM-yyyy")</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4 control-label">
                                            <label for="name">Previous WO Date</label>
                                        </div>
                                        <div class="col-md-7 control-label">
                                            <label class="control-label"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4 control-label">
                                            <label for="name">Category Asset ID</label>
                                        </div>
                                        <div class="col-md-7 control-label">
                                            <label class="control-label">@Model.CategoryAssetID</label>
                                        </div>
                                        @Html.HiddenFor(x => x.CategoryAssetID,Model.CategoryAssetID)
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4 control-label">
                                            <label for="name">Category Description</label>
                                        </div>
                                        <div class="col-md-7 control-label">
                                            <label class="control-label">@Model.CategoryDescription</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4 control-label">
                                            <label for="name">Asset Location Code</label>
                                        </div>
                                        <div class="col-md-7 control-label">
                                            <label class="control-label">@Model.AssetLocationCode</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4 control-label">
                                            <label for="name">Leader</label>
                                        </div>
                                        <div class="col-md-7 control-label">
                                            <label>@approver</label>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-4 control-label">
                                            <label for="name">Status</label>
                                        </div>
                                        <div class="col-md-7 control-label">
                                            <label class="control-label">@Model.Status</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label>
                                        <b>Instruksi Kerja</b>
                                    </label>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-md-4 control-label">
                                            <label for="name">IK Code</label>
                                        </div>
                                        <div class="col-md-7 control-label">
                                            <label class="control-label">@Model.IKCode</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4 control-label">
                                            <label for="name">IK Description</label>
                                        </div>
                                        <div class="col-md-7 control-label">
                                            <label class="control-label">@Model.IKDescription</label>
                                        </div>
                                    </div>
                                    <hr>
                                    @foreach (var item in ikCategory)
                                    {
                                        int index = 1;
                                    
                                        var currentVendor = vendor.FirstOrDefault(x => x.IKCategory == item.IKCategory1 && x.WorkOrderManual == Model.WorkOderManualID);
                                        <div class="form-group row">
                                            <div class="col-md-4 control-label">
                                                <label for="name"><b>IK Category</b></label>
                                            </div>
                                            <div class="col-md-7 control-label">
                                                <label class="control-label">@item.IKCategory1</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label><b>IK Item</b></label>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="tablecontainer">
                                                <table class="table table-condensed table-striped table-responsive">
                                                    <thead>
                                                        <tr>
                                                            <th class="ths">No</th>
                                                            <th class="ths">Instruksi Kerja</th>
                                                            <th class="ths">Condition</th>
                                                            <th class="ths">Remarks</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="tbodys">

                                                        @foreach (var ikitem in item.IKItems)
                                                        {
                                                            /**/

                                                            var conditionData = condition.FirstOrDefault(x => x.IKitemID == ikitem.IKItem1 && x.WorkOrderManualID == Model.WorkOderManualID);

                                                            if (conditionData != null)
                                                            {
                                                                @Html.Hidden("IKItem", ikitem.IKItem1)
                                                                @Html.Hidden("IKCategoryfor", item.IKCategory1)
                                                                <tr>
                                                                    <td class="tds">@index</td>
                                                                    <td class="tds">@ikitem.Item</td>
                                                                    <td class="tds">
                                                                        @if (conditionData.Condition == "Good")
                                                                        {

                                                                            @Html.RadioButton("cond" + ikitem.IKItem1.ToString(), "Good", true, new { required = "" })
                                                                            @Html.Label("Good")
                                                                            @Html.RadioButton("cond" + ikitem.IKItem1.ToString(), "Bad", false, "Bad")
                                                                            @Html.Label("Bad")


                                                                        }
                                                                        @if (conditionData.Condition == "Bad")
                                                                        {
                                                                            @*<select name="condition">
                                                                                    <option value="">--SelectOne--</option>
                                                                                    <option value="Good">Good</option>
                                                                                    <option value="Bad" selected>Bad</option>
                                                                                </select>*@
                                                                            @Html.RadioButton("cond" + ikitem.IKItem1.ToString(), "Good", false, new { required = "" })
                                                                            @Html.Label(" Good ")
                                                                            @Html.RadioButton("cond" + ikitem.IKItem1.ToString(), "Bad", true, "Bad")
                                                                            @Html.Label("Bad")
                                                                        }
                                                                        @if (conditionData.Condition == string.Empty)
                                                                        {
                                                                            @Html.RadioButton("cond" + ikitem.IKItem1.ToString(), "Good", false, new { required = "" })
                                                                            @Html.Label(" Good ")
                                                                            @Html.RadioButton("cond" + ikitem.IKItem1.ToString(), "Bad", false, "Bad")
                                                                            @Html.Label(" Bad ")
                                                                        }
                                                                    </td>
                                                                    <td class="tds">
                                                                        <input type="text" class="form-control" name="ikremarks" value="@conditionData.Remarks"/>
                                                                    </td>
                                                                </tr>
                                                            }
                                                            else
                                                            {
                                                                @Html.Hidden("IKItem", ikitem.IKItem1)
                                                                @Html.Hidden("IKCategoryfor", item.IKCategory1)
                                                                <tr>
                                                                    <td class="tds">@index</td>
                                                                    <td class="tds">@ikitem.Item</td>
                                                                    <td class="tds">
                                                                        @Html.RadioButton("cond" + ikitem.IKItem1.ToString(), "Good", false,new { required = "" })
                                                                        @Html.Label("Good")
                                                                        @Html.RadioButton("cond" + ikitem.IKItem1.ToString(), "Bad", false, "Bad")
                                                                        @Html.Label("Bad")
                                                                    </td>
                                                                    <td class="tds">
                                                                        <input type="text" class="form-control" name="ikremarks"/>
                                                                    </td>
                                                                </tr>
                                                            }
                                                            index++;
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        @Html.Hidden("IKCategory", item.IKCategory1)
                                        <div class="col-md-12">
                                            @if (currentPos == 1)
                                            {
                                                currentPos = currentPos + 1;
                                                <div class="form-group row">
                                                    <div class="col-md-4 control-label">
                                                        <a href="#" id="applyVendorall" class="btn btn-sm btn-primary">Apply to all vendors</a>
                                                    </div>
                                                    <div class="col-md-7 ">
                                                        
                                                    </div>
                                                </div>

                                            }
                                            
                                            @if (currentVendor != null)
                                            {
                                                
                                                <div class="form-group row">
                                                    <div class="col-md-4 control-label">
                                                        <label for="name">Vendor Name</label>
                                                    </div>
                                                    <div class="col-md-7 ">
                                                        <input type="text" name="vendorname" value="@currentVendor.VendorName" class="form-control vd" required="" />
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <div class="col-md-4 control-label">
                                                        <label for="name">Work Start Date</label>
                                                    </div>
                                                    <div class="col-md-7 ">
                                                        <input type="text" name="workstartdate" value="@currentVendor.WorkStartDate" class="form-control datepicker" required="" />
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <div class="col-md-4 control-label">
                                                        <label for="name">Started By</label>
                                                    </div>
                                                    <div class="col-md-7 ">
                                         
                                                        <select class="form-control" name="startedby" required="">
                                                            <option value="">--select one--</option>
                                                            @foreach (var items in (List<SelectListItem>)ViewBag.userName)
                                                            {
                                                                if (@items.Value == currentVendor.StartedBy)
                                                                {
                                                                    <option value="@items.Value" selected="selected">@items.Text</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@items.Value">@items.Text</option>
                                                                }
                                                            }
                                                        </select>
                                            
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <div class="col-md-4 control-label">
                                                        <label for="name">Work End Date</label>
                                                    </div>
                                                    <div class="col-md-7 ">
                                                        <input type="text" name="workenddate" value=" @currentVendor.WorkEndDate" class="form-control datepicker" required="" />
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <div class="col-md-4 control-label">
                                                        <label for="name">Completed By</label>
                                                    </div>
                                                    <div class="col-md-7 ">
                                                        @*<input type="text" name="completedby" value="@currentVendor.CompletedBy" class="form-control" />*@
                                                        <select class="form-control" name="completedby" required="">
                                                            <option value="">--select one--</option>
                                                            @foreach (var items in (List<SelectListItem>)ViewBag.userName)
                                                            {
                                                                if (@items.Value == currentVendor.CompletedBy)
                                                                {
                                                                    <option value="@items.Value" selected="selected">@items.Text</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@items.Value">@items.Text</option>
                                                                }
                                                            }
                                                        </select>
                                                        @*@Html.DropDownList("completedby", (List<SelectListItem>)ViewBag.userName, "--select one--", new { @class = "form-control required" })*@
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <div class="col-md-4 control-label">
                                                        <label for="name">PIC Remarks</label>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <textarea name="picremarks" value="@currentVendor.PICRemarks" class="form-control">@currentVendor.PICRemarks</textarea>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="form-group row">
                                                    <div class="col-md-4 control-label">
                                                        <label for="name">Vendor Name</label>
                                                    </div>
                                                    <div class="col-md-7 ">
                                                        <input type="text" name="vendorname" class="form-control vd" required="" />
                                                    </div>
                                                </div>

                                                                <div class="form-group row">
                                                                    <div class="col-md-4 control-label">
                                                                        <label for="name">Work Start Date</label>
                                                                    </div>
                                                                    <div class="col-md-7 ">
                                                                        <input type="text" name="workstartdate" class="form-control datepicker" required="" />
                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">
                                                                    <div class="col-md-4 control-label">
                                                                        <label for="name">Started By</label>
                                                                    </div>
                                                                    <div class="col-md-7 ">
                                             
                                                                        @Html.DropDownList("startedby", (List<SelectListItem>)ViewBag.userName, "--select one--", new { @class = "form-control required" })
                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">
                                                                    <div class="col-md-4 control-label">
                                                                        <label for="name">Work End Date</label>
                                                                    </div>
                                                                    <div class="col-md-7 ">
                                                                        <input type="text" name="workenddate" class="form-control datepicker" required="" />
                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">
                                                                    <div class="col-md-4 control-label">
                                                                        <label for="name">Completed By</label>
                                                                    </div>
                                                                    <div class="col-md-7 ">
                                                                        @*<input type="text" name="completedby" class="form-control" />*@
                                                                        @Html.DropDownList("completedby", (List<SelectListItem>)ViewBag.userName, "--select one--", new { @class = "form-control required" })
                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">
                                                                    <div class="col-md-4 control-label">
                                                                        <label for="name">PIC Remarks</label>
                                                                    </div>
                                                                    <div class="col-md-7">
                                                                        <textarea name="picremarks" class="form-control"></textarea>
                                                                    </div>
                                                                </div>
                                            }
                                        </div>
                                        <hr>
                                    }
                                </div>
                                <div class="col-md-12">
                                    <label>
                                        <b>Maintenance Asset</b>
                                    </label>
                                </div>
                                <div class="col-md-12  d-print-none">

                                    <a href="#" id="addNewMaintenanceItem" class="btn btn-sm btn-success"><i class="icon-plus"></i></a>

                                </div>
                                <div class="col-md-12">
                                    <table class="table table-condensed table-striped table-responsive">
                                        <thead>
                                            <tr>
                                                <th>Asset Type</th>
                                                <th>Maintenance Type</th>
                                                <th>Jumlah</th>
                                                <th>Satuan</th>
                                                <th>Remarks</th>
                                                <th>Maintenance Date</th>
                                                <th>GRN</th>
                                                <th>Nominal</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="appendContainer">

                                            @if (maintenance.Count > 0)
                                            {
                                                foreach (var maintain in maintenance)
                                                {
                                                    <tr id="cloningelement">
                                                        <td>
                                                            @*@Html.DropDownList("assettypeid", (List<SelectListItem>)ViewBag.assettypeselectlist, maintain.AssetTypeID)*@
                                                            <select name="assettypeid">
                                                                @foreach (var assets in (List<SelectListItem>)ViewBag.assettypeselectlist)
                                                                {
                                                                    if (maintain.AssetTypeID == assets.Value)
                                                                    {
                                                                        <option value="@assets.Value" selected>@assets.Text</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@assets.Value">@assets.Text</option>
                                                                    }

                                                                }
                                                            </select>
                                                        </td>
                                                        @if (maintain.maintenanceType == "Replace")
                                                        {
                                                            <td>
                                                                <select name="maintenancetype">
                                                                    <option>--Select One--</option>
                                                                    <option selected>Replace</option>
                                                                    <option>Service</option>
                                                                </select>
                                                            </td>
                                                        }
                                                        @if (maintain.maintenanceType == "Service")
                                                        {
                                                            <td>
                                                                <select name="maintenancetype">
                                                                    <option>--Select One--</option>
                                                                    <option>Replace</option>
                                                                    <option selected>Service</option>
                                                                </select>
                                                            </td>
                                                        }
                                                        @if (maintain.maintenanceType == "--Select One--" || maintain.maintenanceType == "")
                                                        {
                                                            <td>
                                                                <select name="maintenancetype">
                                                                    <option selected>--Select One--</option>
                                                                    <option>Replace</option>
                                                                    <option>Service</option>
                                                                </select>
                                                            </td>
                                                        }
                                                        <td>
                                                            <input type="text" name="maintenancejumlah" value="@maintain.Jumlah" />
                                                        </td>
                                                        <td>
                                                            @*<input type="text" name="maintenancesatuan" value="@maintain.Satuan" />*@
                                                            <select name="maintenancesatuan">
                                                                <option value="PCS">PCS</option>
                                                                <option value="MTR">MTR</option>
                                                                <option value="BOX">BOX</option>
                                                                <option value="KG">KG</option>
                                                                <option value="LTR">LTR</option>
                                                                <option value="m2">m3</option>
                                                                <option value="m2">m2</option>
                                                                <option value="GRAM">GRAM</option>
                                                                <option value="LOT">LOT</option>
                                                            </select>
                                                        </td>
                                                        <td><input type="text" name="maintenanceremarks" value="@maintain.Remarks" /></td>
                                                        <td><input type="text" name="maintenancedate" class="datepicker" value="@maintain.maintenanceDate" /></td>
                                                        <td><input type="text" name="grn" value="@maintain.GRN"></td>
                                                        <td><input type="text" name="nominal" class="nominal" value="@maintain.Nominal"></td>
                                                        <td> <a href="#" class="btn btn-sm btn-danger deleteMaintenanceItem"><i class="icon-minus"></i></a></td>
                                                    </tr>
                                                }

                                            }
                                            else
                                            {
                                                <tr id="cloningelement">
                                                    <td>
                                                        @Html.DropDownList("assettypeid", (List<SelectListItem>)ViewBag.assettypeselectlist)

                                                    </td>
                                                    <td>
                                                        <select name="maintenancetype">
                                                            <option>--Select One--</option>
                                                            <option>Replace</option>
                                                            <option>Service</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" name="maintenancejumlah" />
                                                    </td>
                                                    <td>
                                                        @*<input type="text" name="maintenancesatuan" value="@maintain.Satuan" />*@
                                                        <select name="maintenancesatuan">
                                                            <option value="PCS">PCS</option>
                                                            <option value="MTR">MTR</option>
                                                            <option value="BOX">BOX</option>
                                                            <option value="KG">KG</option>
                                                            <option value="LTR">LTR</option>
                                                            <option value="m2">m3</option>
                                                            <option value="m2">m2</option>
                                                            <option value="GRAM">GRAM</option>
                                                            <option value="LOT">LOT</option>
                                                        </select>
                                                    </td>
                                                    <td><input type="text" name="maintenanceremarks" /></td>
                                                    <td><input type="text" class="datepicker" name="maintenancedate" /></td>
                                                    <td><input type="text" name="grn"></td>
                                                    <td><input type="text" name="nominal" class="nominal"></td>
                                                    <td> <a href="#" class="btn btn-sm btn-danger deleteMaintenanceItem"><i class="icon-minus"></i></a></td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                                <div class="form-group d-print-none">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <a href="#" class="btn btn-sm btn-primary" id="printPage">Print</a>
                                        @if (Model.Status == "Open" || Model.Status == "Reject" || Model.Status.ToLower() == "save")
                                        {
                                            <button type="submit" class="btn btn-sm btn-warning" onclick="return(false)" name="btnName" value="submit">Submit</button>

                                        }
                                        @if (Model.Status != "Submit" && Model.Status != "Approved")
                                        {
                                            <button type="submit" class="btn btn-sm btn-success" onclick="return(false)" name="btnName" value="save">Save</button>
                                        }
                                        @Html.Hidden("btnNames")
                                        <a href="@Url.Action(MVC.WorkOrder.WorkOrder())"> <button type="button" class="btn btn-sm btn-danger .d-print-none">Close</button> </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
