﻿@model PreventiveAssetManagement.dataRepo.WorkOrderManual
@{
    ViewBag.Title = "GenerateManual";
    var ikCategory = (List<PreventiveAssetManagement.dataRepo.IKCategory>)ViewBag.ikCategory;
}
<style>
    .tablecontainer {
        width: auto;
        overflow: hidden;
    }



    .ths, .tds {
        width: 200px;
    }

    .tbodys {
        display: block;
        height: 200px;
        overflow: auto;
    }
</style>
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="@Url.Action(MVC.MasterAsset.Index())">Work Order Manual</a></li>
    <li class="breadcrumb-item active">Work Order</li>
    <!-- Breadcrumb Menu-->

</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-10">
                <div class="card">
                    <div class="card-header">
                        <strong>Work Order</strong>
                        <small>Form</small>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @using (Html.BeginForm(MVC.WorkOrder.GenerateManual(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "FormLocation", @style = "width:100%" }))
                            {
                                <div class="col-md-12 control-label">
                                    <label>
                                        <b>Work Order</b>
                                    </label>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-md-4 control-label">
                                            <label for="name">Departement</label>
                                        </div>

                                        <div class="col-md-7 control-label">
                                            <label class="control-label">@Model.MasterAssetCategory.Departement</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4 control-label">
                                            <label for="name">WO No</label>
                                        </div>
                                        <div class="col-md-7 control-label">
                                            <label class="control-label">@Model.WorkOderManualID</label>
                                            @Html.HiddenFor(x => x.WorkOderManualID)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4 control-label">
                                            <label for="name">Work Order Date</label>
                                        </div>
                                        <div class="col-md-7 control-label">
                                            <label class="control-label">@Model.WorkOrderDate.GetValueOrDefault().ToString("dd-MM-yyyy")</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4 control-label">
                                            <label for="name">Previous WO Date</label>
                                        </div>
                                        <div class="col-md-7 control-label">
                                            <label class="control-label"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4 control-label">
                                            <label for="name">Category Asset ID</label>
                                        </div>
                                        <div class="col-md-7 control-label">
                                            <label class="control-label">@Model.CategoryAssetID</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4 control-label">
                                            <label for="name">Category Description</label>
                                        </div>
                                        <div class="col-md-7 control-label">
                                            <label class="control-label">@Model.CategoryDescription</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4 control-label">
                                            <label for="name">Asset Location Code</label>
                                        </div>
                                        <div class="col-md-7 control-label">
                                            <label class="control-label">@Model.AssetLocationCode</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4 control-label">
                                            <label for="name">Leader</label>
                                        </div>
                                        <div class="col-md-7 control-label">
                                            <label>@Model.WorkOrderLeader</label>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-4 control-label">
                                            <label for="name">Status</label>
                                        </div>
                                        <div class="col-md-7 control-label">
                                            <label class="control-label">@Model.Status</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label>
                                        <b>Instruksi Kerja</b>
                                    </label>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-md-4 control-label">
                                            <label for="name">IK Code</label>
                                        </div>
                                        <div class="col-md-7 control-label">
                                            <label class="control-label">@Model.IKCode</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4 control-label">
                                            <label for="name">IK Description</label>
                                        </div>
                                        <div class="col-md-7 control-label">
                                            <label class="control-label">@Model.IKDescription</label>
                                        </div>
                                    </div>
                                    <hr>
                                    @foreach (var item in ikCategory)
                                    {
                                        int index = 1;
                                        <div class="form-group row">
                                            <div class="col-md-4 control-label">
                                                <label for="name"><b>IK Category</b></label>
                                            </div>
                                            <div class="col-md-7 control-label">
                                                <label class="control-label">@item.IKCategory1</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label><b>IK Item</b></label>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="tablecontainer">
                                                <table class="table table-condensed table-striped table-responsive">
                                                    <thead>
                                                        <tr>
                                                            <th class="ths">No</th>
                                                            <th class="ths">Instruksi Kerja</th>
                                                            <th class="ths">Condition</th>
                                                            <th class="ths">Remarks</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="tbodys">

                                                        @foreach (var ikitem in item.IKItems)
                                                        {
                                                            /**/
                                                            @Html.Hidden("IKItem", ikitem.IKItem1)
                                                            @Html.Hidden("IKCategoryfor", item.IKCategory1)
                                                            <tr>
                                                                <td class="tds">@index</td>
                                                                <td class="tds">@ikitem.Item</td>
                                                                <td class="tds">

                                                                    <select name="condition">
                                                                        <option value="">--SelectOne--</option>
                                                                        <option value="Good">Good</option>
                                                                        <option value="Bad">Bad</option>
                                                                    </select>
                                                                </td>
                                                                <td class="tds">
                                                                    <input type="text" class="form-control" name="ikremarks" />
                                                                </td>
                                                            </tr>
                                                            index++;
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        @Html.Hidden("IKCategory", item.IKCategory1)
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <div class="col-md-4 control-label">
                                                    <label for="name">Vendor Name</label>
                                                </div>
                                                <div class="col-md-7 ">
                                                    <input type="text" name="vendorname" class="form-control" />
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-md-4 control-label">
                                                    <label for="name">Work Start Date</label>
                                                </div>
                                                <div class="col-md-7 ">
                                                    <input type="text" name="workstartdate" class="form-control datepicker" />
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-md-4 control-label">
                                                    <label for="name">Started By</label>
                                                </div>
                                                <div class="col-md-7 ">
                                                    <input type="text" name="startedby" class="form-control date" value="@Session["UserId"].ToString()" />
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-md-4 control-label">
                                                    <label for="name">Work End Date</label>
                                                </div>
                                                <div class="col-md-7 ">
                                                    <input type="text" name="workenddate" class="form-control datepicker" />
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-md-4 control-label">
                                                    <label for="name">Completed By</label>
                                                </div>
                                                <div class="col-md-7 ">
                                                    <input type="text" name="completedby" class="form-control" />
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-md-4 control-label">
                                                    <label for="name">PIC Remarks</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <textarea name="picremarks" class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    }
                                </div>
                                <div class="col-md-12">
                                    <label>
                                        <b>Maintenance Asset</b>
                                    </label>
                                </div>
                                <div class="col-md-12">

                                    <a href="#" id="addNewMaintenanceItem" class="btn btn-sm btn-success"><i class="icon-plus"></i></a>

                                </div>
                                <div class="col-md-12">
                                    <table class="table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Asset Type</th>
                                                <th>Maintenance Type</th>
                                                <th>Jumlah</th>
                                                <th>Satuan</th>
                                                <th>Remarks</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="appendContainer">
                                            <tr id="cloningelement">
                                                <td>
                                                    @Html.DropDownList("assettypeid", (List<SelectListItem>)ViewBag.assettypeselectlist)
                                                </td>
                                                <td>
                                                    <select name="maintenancetype">
                                                        <option>--Select One--</option>
                                                        <option>Replace</option>
                                                        <option>Service</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="text" name="maintenancejumlah" />
                                                </td>
                                                <td>
                                                    <input type="text" name="maintenancesatuan" />
                                                </td>
                                                <td><input type="text" name="maintenanceremarks" /></td>
                                                <td><input type="text" name="grn"></td>
                                                <td><input type="text" name="nominal"></td>
                                                <td> <a href="#" id="deleteMaintenanceItem" class="btn btn-sm btn-success"><i class="icon-minus"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <button type="submit" class="btn btn-sm btn-success">Save</button>
                                        <a href="@Url.Action(MVC.InstruksiKerja.Index())"> <button type="button" class="btn btn-sm btn-danger">Close</button> </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
