﻿@model List<PreventiveAssetManagement.dataRepo.WorkOrderManual>
@{
    ViewBag.Title = "WorkOrder";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">Dashboard</li>
    <li class="breadcrumb-item active">Work Order</li>
    <!-- Breadcrumb Menu-->
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Work Order List</strong>
                        <small>Form</small>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <form class="form-horizontal" style="width:70%">
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="CategoryAsset">Category Asset ID</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" id="CategoryAssetId" placeholder="Search by Category Asset ID">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="CategoryAsset">Work Order No</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" id="WorkOrderNo" placeholder="Search by Work Order No">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="CategoryAsset">Description</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" id="Description" placeholder="Search by Description">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <button type="button" id="datatable-workorder-search" class="btn btn-sm btn-primary">Search</button>
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal" action="@Url.Action(MVC.WorkOrder.GeneratePeriodicWorkOrder())" style="width:100%">


                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        @if (Session["Role"].ToString() == "manager")
                                        {
                                            <button type="submit" class="btn btn-sm btn-primary" onclick="return confirm('Are you sure?')">Generate</button>
                                        }
                                        <a href="@Url.Action(MVC.WorkOrder.Calendar())" class="btn btn-sm btn-success">Calendar</a>
                                    </div>
                                </div>
                            </form>
                            <div class="table-responsive">
                                <table id="data-table-workorder" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Category Asset ID</th>
                                            <th>Work Order No</th>
                                            <th>Work Order Date</th>
                                            <th>Category Asset Description</th>
                                            <th>Status</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                                    @*<tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.CategoryAssetID</td>
                                                    <td>@item.WorkOderManualID</td>
                                                    <td>@item.WorkOrderDate</td>
                                                    <td>@item.CategoryDescription</td>
                                                    <td>@item.Status</td>
                                                    <td><a href="@Url.Action(MVC.WorkOrder.EditWorkOrder(item.WorkOderManualID))" class="btn btn-sm btn-primary"><i class="icon-pencil"></i></a></td>
                                                </tr>
                                            }
                                        </tbody>*@
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

