﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,AngularJS,Angular,Angular2,Angular 2,Angular4,Angular 4,jQuery,CSS,HTML,RWD,Dashboard,React,React.js,Vue,Vue.js">
    <link rel="shortcut icon" href="img/favicon.png">
    <title>Preventive Asset Management System</title>
    <!-- Icons -->
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href=" /assets/plugins/jquery-ui-1.10.4/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    @*<link href="~/Assets/plugin/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />*@
    <link href="~/Assets/plugin/fullcalendar-3.7.0/fullcalendar.min.css" rel="stylesheet" />
    @*<link href="~/Assets/js/jquery.timepicker.min.css" rel="stylesheet" />*@
    <link href=" /assets/plugins/bootstrap-3.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href=" /assets/plugins/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href=" /assets/css/animate.min.css" rel="stylesheet" />
    <link href="~/Assets/plugin/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href=" /assets/css/style.min.css" rel="stylesheet" />
    <link href=" /assets/css/style-responsive.min.css" rel="stylesheet" />
    <link href="~/Assets/js/jquery.timepicker.min.css" rel="stylesheet" />
    <link href="~/Assets/plugin/DataTables-1.10.16/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/Assets/js/Parsley.js-2.8.1/src/parsley.css" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="~/Scripts/dropzone/basic.css" rel="stylesheet" />
    <link href=" /assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
    @*<link href=" /assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />*@
    @*<link href=" /assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />*@
    <link href=" /assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
    <link href=" /assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <link href=" /assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href=" /assets/plugins/jquery-tag-it/css/jquery.tagit.css" rel="stylesheet" />
    <link href="~/Assets/plugin/bootstrap-colorpicker-2.5.2/bootstrap-colorpicker-2.5.2/dist/css/bootstrap-colorpicker.css" rel="stylesheet" />
    <link href="~/Assets/js/jquery-ui-1.12.1/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Assets/plugin/simple-line-icons-master/simple-line-icons-master/css/simple-line-icons.css" rel="stylesheet" />
    <!-- Main styles for this application -->
    <link href="~/Assets/css/style.css" rel="stylesheet" />
    <!-- Styles required by this views -->
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    <header class="app-header navbar">
        <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"></a>
        @{ 
            var userData = (PreventiveAssetManagement.dataRepo.MasterUser)Session["User"];

        }
        @if (userData != null)
        {
            <a class="btn btn-default pull-left" href="@Url.Action(MVC.User.LogOut())">Log out @userData.Name</a>
        }
        else 
        {
            <a class="btn btn-default pull-left" href="@Url.Action(MVC.User.LogOut())">Log out </a>
        }
    </header>
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    @if (Session["Role"].ToString() != "Risk")
                    {
                    <li class="nav-item">
                        <a href="@Url.Action(MVC.Dashboard.Index())" class="nav-link"><i class="icon-map"></i>To Do</a>
                    </li>
                    }
                    @if (Session["Role"].ToString() == "manager" || Session["Role"].ToString() == "it")
                    {
                        <li class="nav-title">
                            Master
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action(MVC.Location.Index())" class="nav-link"><i class="icon-organization"></i>Master Location</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action(MVC.User.Index())" class="nav-link"><i class="icon-user"></i>Master User</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action(MVC.UserGroup.Index())" class="nav-link"><i class="icon-people"></i>Master User Group</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action(MVC.InstruksiKerja.Index())" class="nav-link"><i class="icon-event"></i>Master Instruksi Kerja</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action(MVC.MasterAsset.Index())" class="nav-link"><i class="icon-diamond"></i>Master Asset</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action(MVC.MasterAssetType.Index())" class="nav-link"><i class="icon-diamond"></i>Master Asset Type</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action(MVC.Departement.Index())" class="nav-link"><i class="icon-people"></i>Master Departement</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action(MVC.Vendor.Index())" class="nav-link"><i class="icon-people"></i>Master Vendor</a>
                        </li>
                    }
                    @if (Session["Role"].ToString() == "it")
                    {
                        <li class="nav-item">
                            <a href="@Url.Action(MVC.Interval.Index())" class="nav-link"><i class="icon-organization"></i>Master Interval</a>
                        </li>
                    }
                    @if (Session["Role"].ToString() == "manager" || Session["Role"].ToString() == "Leader" || Session["Role"].ToString() == "it" || Session["Role"].ToString() == "pic")
                    {
                        <li class="nav-title">
                            Components
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action(MVC.WorkOrder.WorkOrder())" class="nav-link"><i class="icon-diamond"></i>Work Order</a>
                        </li>
                    }
                    @if (Session["Role"].ToString() == "manager" || Session["Role"].ToString() == "Leader" || Session["Role"].ToString() == "it")
                    {
                        <li class="nav-title">
                            Report
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action(MVC.Report.MainAssetReport())" class="nav-link"><i class="icon-layers"></i>Main Asset Report</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action(MVC.Report.AssetTypeReport())" class="nav-link"><i class="icon-layers"></i>Asset Type Report</a>
                        </li>
                        if (Session["Dept"].ToString() != "OFT")
                        {
                            <li class="nav-item">
                                <a href="@Url.Action(MVC.Report.WorkOrderOFTReport())" class="nav-link"><i class="icon-layers"></i>Work Order Report</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a href="@Url.Action(MVC.Report.WorkOrderOFTReport())" class="nav-link"><i class="icon-layers"></i>Work Order Report</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a href="@Url.Action(MVC.Report.RepairMaintenanceAssetReport())" class="nav-link"><i class="icon-layers"></i>Repair Maintenance Asset Report</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action(MVC.Report.MainAssetAgingReport())" class="nav-link"><i class="icon-layers"></i>Main Asset Aging Report</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action(MVC.Report.AssetTypeAgingReport())" class="nav-link"><i class="icon-layers"></i>Asset Type Aging Report</a>
                        </li>
                        <li class="nav-title">
                            Approval
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action(MVC.WorkFlow.Index())" class="nav-link"><i class="icon-layers"></i><span class="badge badge-secondary">@Session["WfTotal"].ToString()</span>Work Flow</a>
                        </li>
                    }
                    @if (Session["Role"].ToString() == "Risk")
                    {
                        <li class="nav-item">
                            <a href="@Url.Action(MVC.RiskWorkOrderList.Index())" class="nav-link"><i class="icon-map"></i>Work Order Visit</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action(MVC.Risk.Todo.Index())" class="nav-link"><i class="icon-map"></i>Reminder To Do List</a>
                        </li>
                     
                        <li class="nav-item">
                            <a href="@Url.Action(MVC.Risk.GroupItem.List())" class="nav-link"><i class="icon-map"></i>Master Group Item</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action(MVC.Risk.ItemChecklist.List())" class="nav-link"><i class="icon-map"></i>Master Item</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action(MVC.Risk.ItemChecklist.CheckklistHeaderList())" class="nav-link"><i class="icon-map"></i>Master Item CheckList</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action(MVC.Risk.Reports.Index())" class="nav-link"><i class="icon-map"></i>Risk Visit Report</a>
                        </li>
                        @*<li class="nav-item">
                            <a href="@Url.Action(MVC.WorkFlow.Index())" class="nav-link"><i class="icon-map"></i>Risk Visit Report</a>
                        </li>*@
                        <li class="nav-item">
                            <a href="@Url.Action(MVC.WorkFlow.Index())" class="nav-link"><i class="icon-map"></i>Approval</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a href="@Url.Action(MVC.ChangePassword.Index())" class="nav-link"><i class="icon-map"></i>Change Password</a>
                    </li>
                </ul>
            </nav>
            @*<button class="sidebar-minimizer brand-minimizer" type="button"></button>*@
        </div>
        <!-- Main content -->
        <main class="main">
            @RenderBody()
        </main>
    </div>
    <footer class="app-footer">
        <span><a href="http://www.plazaindonesia.com">Plaza Indonesia Development Team</a> © @DateTime.Now.Year</span>
    </footer>
</body>
</html>
<script src="~/Assets/js/jquery-1.8.2/jquery-1.8.2.min.js"></script>
<script src="~/Assets/plugin/bootstrap-3.1.1/js/bootstrap.min.js"></script>
<script src="~/Assets/js/jquery-ui-1.12.1/jquery-ui-1.12.1/jquery-ui.min.js"></script>

<script src="~/Assets/plugin/select2/dist/js/select2.full.min.js"></script>
<script src="~/Assets/js/Moment.js"></script>
<script src="~/js/views/main.js"></script>
<script src="~/js/app.js"></script>
@*<script src="~/Assets/plugin/fullcalendar/fullcalendar/fullcalendar.js"></script>*@
<script src="~/Assets/plugin/fullcalendar-3.7.0/fullcalendar.js"></script>

@*<script src="~/Assets/plugin/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>*@
<script src="~/Assets/plugin/Two-side-Multi-Select-Plugin-with-jQuery-multiselect-js/dist/js/multiselect.min.js"></script>
<script src="~/Assets/js/DataTables-1.9.4/js/jquery.dataTables.js"></script>
<script src="~/Assets/plugin/DataTables-1.10.16/js/jquery.dataTables.js"></script>
<script src="~/Assets/plugin/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Assets/js/datatables.js"></script>
<script src="~/Assets/js/jquery.timepicker.min.js"></script>
<script src="~/Assets/js/Parsley.js-2.8.1/dist/parsley.min.js"></script>
<script src="~/Assets/js/AppendCategoryItem.js"></script>
<script src="~/Assets/plugin/bootstrap-colorpicker-2.5.2/bootstrap-colorpicker-2.5.2/dist/js/bootstrap-colorpicker.js"></script>


<script>
    $(document).ready(function () {
        $('#multiselect').multiselect();
    })

</script>
