﻿@model PreventiveAssetManagement.dataRepo.MasterInterval
@{
    ViewBag.Title = "AddEditIntervals";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="@Url.Action(MVC.MasterAsset.Index())">Master Asset Category</a></li>
    <li class="breadcrumb-item active">Master Interval Add Edit</li>
    <!-- Breadcrumb Menu-->

</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Master Interval</strong>
                        <small>Form</small>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            @using (Html.BeginForm(MVC.Interval.AddEditInterval(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "IntervalForm" }))
                            {
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <div class="col-md-5 control-label">
                                        <label for="name">Interval Group</label>
                                    </div>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(x => x.IntervalGroup, (List<SelectListItem>)ViewBag.intervalgroups, "--select one--", new { @class = "form-control required",required="" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-5 control-label">
                                        <label for="name">Interval Code</label>
                                    </div>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(x => x.IntervalCode, new { @class = "form-control required", placeholder = "Intarval Code", required = "" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-5 control-label">
                                        <label for="name">Interval Type</label>
                                    </div>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(x => x.IntervalType, (List<SelectListItem>)ViewBag.intervaltypes, "--select one--", new { @class = "form-control required" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-5 control-label">
                                        <label for="name">Interval Value</label>
                                    </div>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(x => x.IntervalValue, new { @class = "form-control required", placeholder = "Intarval VAlue", required = "" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-5 control-label">
                                        <label for="name">Interval Description</label>
                                    </div>
                                    <div class="col-md-7">
                                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", placeholder = "Description" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-5 control-label">
                                        <label for="name">Enable</label>
                                    </div>
                                    <div class="col-md-7">
                                        @if (Model.IsEnabled != null)
                                        {
                                            @Html.CheckBox("IsEnabled",Model.IsEnabled)
                                        }
                                        else
                                        {
                                            @Html.CheckBox("IsEnabled",true)
                                        }
                                       
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <button type="submit" class="btn btn-sm btn-success" onclick="return confirm('Are you sure?')">Save</button>
                                        <a href="@Url.Action(MVC.Interval.Index())"> <button type="button" class="btn btn-sm btn-danger">Close</button> </a>
                                    </div>
                                </div>
                                @Html.HiddenFor(x => x.IntervalID)
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>