﻿@model List<PreventiveAssetManagement.dataRepo.MasterInterval>
@{
    ViewBag.Title = "Index";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">Dashboard</li>
    <li class="breadcrumb-item active">Master Interval</li>
    <!-- Breadcrumb Menu-->
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <strong>Search User Group</strong>
                        <small>Form</small>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-3 control-label"></label>
                                <div class="col-md-9">
                                    <a href="@Url.Action(MVC.Interval.AddEditInterval(0))" class="btn btn-sm btn-success">Add</a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="data-table-masterinterval" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Interval Group</th>
                                            <th>Interval Code</th>
                                            <th>Interval Type</th>
                                            <th>Enabled</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.IntervalGroup</td>
                                                <td>@item.IntervalCode</td>
                                                <td>@item.IntervalType</td>
                                                <td>@item.IsEnabled</td>
                                                <td><a href="@Url.Action(MVC.Interval.AddEditInterval(item.IntervalID))" class="btn btn-success btn-sm"><i class="icon-note"></i></a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



