﻿
@{
    ViewBag.Title = "Index";
}


<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">Dashboard</li>
    <li class="breadcrumb-item active">UserGroup</li>
    <!-- Breadcrumb Menu-->
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Search User Group</strong>
                        <small>Form</small>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <form class="form-horizontal">
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="UserId">Group ID</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" id="GroupID" placeholder="Search by Group ID">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="UserName">Name</label>
                                        </div>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" id="Leader" placeholder="Search Group Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <div class="col-md-5 control-label">
                                            <label for="UserName">Status</label>
                                        </div>
                                        <div class="col-md-7">
                                            @Html.DropDownList("usergroupstatus", (List<SelectListItem>)ViewBag.active, "--select one--", new { @class = "form-control required", required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <button type="button" id="datatable-usergroup-search" class="btn btn-sm btn-primary">Search</button>
                                        <a href="@Url.Action(MVC.UserGroup.UserGroupAddEdit())" class="btn btn-sm btn-success">Add</a>
                                    </div>
                                </div>
                            </form>
                            <div class="table-responsive">
                                <table id="data-table-usergroup" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Group ID</th>
                                            <th>Group Name</th>
                                            <th>Leader</th>
                                            <th>Status</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>