﻿@model PreventiveAssetManagement.dataRepo.UserGroupHeader
@{
    ViewBag.Title = "UserGroupAddEdit";
    var userdata = (List<PreventiveAssetManagement.dataRepo.MasterUser>)ViewBag.Userdata;
    var userlist = (List<SelectListItem>)ViewBag.userSelectlist;
    var currentGroupUser = (List<PreventiveAssetManagement.dataRepo.UserGroupDetail>)ViewBag.CurrentGroupUser;
    var ApprovalGroup = (List<PreventiveAssetManagement.dataRepo.ApprovalGroup>)ViewBag.ApprovalGroup;
    var index = 1;
}
<link href="~/Assets/plugin/Two-side-Multi-Select-Plugin-with-jQuery-multiselect-js/css/style.css" rel="stylesheet" />

<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="@Url.Action(MVC.UserGroup.Index())">User Group List</a></li>
    <li class="breadcrumb-item active">User Group Header</li>
    <!-- Breadcrumb Menu-->
   
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <strong>User Group</strong>
                        <small>Form</small>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            @using (Html.BeginForm(MVC.UserGroup.UserGroupAddEdit(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "formUserGroup" }))
                            {<div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-md-5 control-label">
                                        <label for="name">User Group Code</label>
                                    </div>
                                    <div class="col-md-7">
                                        @if (!String.IsNullOrEmpty(Model.UserGroupId))
                                        {
                                            <label class="control-label">@Model.UserGroupId</label>
                                                @Html.HiddenFor(x => x.UserGroupId)
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(x => x.UserGroupId, new { @class = "form-control required", placeholder = "User Group", required = "" })
                                        }

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-5 control-label">
                                        <label for="name">User Group Name</label>
                                    </div>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(x => x.UserGroupName, new { @class = "form-control required", placeholder = "User Group Name", required = "" })
                                    </div>
                                </div>
                                @*<div class="form-group row" id="approvalClone">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Leader</label>
                                        </div>
                                        <div class="col-md-5">
                                            @Html.DropDownList("approvalGroup", (List<SelectListItem>)ViewBag.userSelectlist, "--select one--", new { @class = "form-control required", required = "" })
                                        </div>
                                        <div class="col-md-2">
                                            <a href="#" id="addApproval" class="btn btn-success addApproval">Add</a>
                                        </div>
                                    </div>*@
                                @if (ApprovalGroup.Count > 0)
                                {
                                    foreach (var item in ApprovalGroup)
                                    {
                                        if (index == 1)
                                        {
                                            <div class="form-group row" id="approvalClone">
                                                <div class="col-md-5 control-label">
                                                    <label for="name">Leader</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <select class="form-control" name="approvalGroup">
                                                        <option value="">
                                                            --select one--
                                                        </option>
                                                        @*@Html.DropDownList("approvalGroup", (List<SelectListItem>)ViewBag.userSelectlist, "--select one--", new { @class = "form-control required", required = "" })*@
                                                        @foreach (var items in userlist)
                                                        {
                                                            if (@items.Value == item.ApprovalId)
                                                            {
                                                                <option value="@items.Value" selected="selected">@items.Text</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@items.Value">@items.Text</option>

                                                            }

                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-md-2">
                                                    <a href="#" id="addApproval" class="btn btn-success addApproval">Add</a>
                                                </div>
                                                <div class="col-md-2">
                                                    <a href="#" id="deleteApproval" class="btn btn-danger deleteApproval">Delete</a>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group row">
                                                <div class="col-md-5 control-label">
                                                    <label for="name">Leader</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <select class="form-control" name="approvalGroup">
                                                        <option value="">
                                                            --select one--
                                                        </option>
                                                        @*@Html.DropDownList("approvalGroup", (List<SelectListItem>)ViewBag.userSelectlist, "--select one--", new { @class = "form-control required", required = "" })*@
                                                        @foreach (var items in userlist)
                                                        {
                                                            if (@items.Value == item.ApprovalId)
                                                            {
                                                                <option value="@items.Value" selected="selected">@items.Text</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@items.Value">@items.Text</option>

                                                            }

                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-md-2">
                                                    <a href="#" id="addApproval" class="btn btn-success addApproval">Add</a>
                                                </div>
                                                <div class="col-md-2">
                                                    <a href="#" id="deleteApproval" class="btn btn-danger deleteApproval">Delete</a>
                                                </div>
                                            </div>
                                        }
                                        index++;
                                    }
                                }
                                else
                                {
                                    <div class="form-group row" id="approvalClone">
                                        <div class="col-md-5 control-label">
                                            <label for="name">Leader</label>
                                        </div>
                                        <div class="col-md-3">
                                            <select class="form-control" name="approvalGroup">
                                                <option value="">
                                                    --select one--
                                                </option>
                                                @*@Html.DropDownList("approvalGroup", (List<SelectListItem>)ViewBag.userSelectlist, "--select one--", new { @class = "form-control required", required = "" })*@
                                                @foreach (var items in userlist)
                                                {
                                                    <option value="@items.Value">@items.Text</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <a href="#" id="addApproval" class="btn btn-success addApproval">Add</a>
                                        </div>
                                        <div class="col-md-2">
                                            <a href="#" id="deleteApproval" class="btn btn-danger deleteApproval">Delete</a>
                                        </div>
                                    </div>
                                }
                                <div class="form-group row">
                                    <div class="col-md-5">
                                        <label class="control-label">User</label>
                                        <select name="from" id="multiselect" class="form-control" size="8" multiple="multiple">
                                            @foreach (var item in userdata)
                                            {
                                                <option value="@item.UserID">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label">Option</label>
                                        <button type="button" id="multiselect_rightAll" class="btn btn-sm btn-block"><i class="icon-control-forward"></i></button>
                                        <button type="button" id="multiselect_rightSelected" class="btn btn-sm btn-block"><i class="icon-arrow-right"></i></button>
                                        <button type="button" id="multiselect_leftSelected" class="btn btn-sm btn-block"><i class="icon-arrow-left"></i></button>
                                        <button type="button" id="multiselect_leftAll" class="btn btn-sm btn-block"><i class="icon-control-rewind"></i></button>
                                    </div>
                                    <div class="col-md-5">
                                        <label class="control-label">Group User</label>
                                        <select name="mutliselect_to" id="multiselect_to" class="form-control" size="8" multiple="multiple">
                                            @foreach (var item in currentGroupUser)
                                            {
                                                <option value="@item.MasterUser.UserID">@item.MasterUser.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-5 control-label">
                                        <label for="name">Status</label>
                                    </div>
                                    <div class="col-md-7">
                                        @Html.DropDownListFor(x => x.IsActive, (List<SelectListItem>)ViewBag.Status, "--select one--", new { @class = "form-control required", required = "" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <button type="submit" class="btn btn-sm btn-success" onclick="return confirm('Are you sure?')">Save</button>
                                        <a href="@Url.Action(MVC.UserGroup.Index())"> <button type="button" class="btn btn-sm btn-danger">Close</button> </a>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
